section.clients
	.clients__bg
		img(src='images/patterns/1.svg', alt='')
	.container.clients__container
		.container.container--small
			.clients__top
				+title-block('Наши клиенты:', 'clients__title')
				+slider-nav('clients__nav')
		.clients__slider.swiper.__js_slider-clients
			.swiper-wrapper
				.clients__slide.swiper-slide
					.clients__item
						img(src='images/clients/baltika.png', alt='')
					.clients__item
						img(src='images/clients/fosagro.png', alt='')
					.clients__item
						img(src='images/clients/coca-cola.png', alt='')
					.clients__item
						img(src='images/clients/rif.png', alt='')
				.clients__slide.swiper-slide
					.clients__item.clients__item--big
						img(src='images/clients/sibur.png', alt='')
				.clients__slide.swiper-slide
					.clients__item
						img(src='images/clients/cargill.png', alt='')
					.clients__item
						img(src='images/clients/baltika.png', alt='')
					.clients__item
						img(src='images/clients/coca-cola.png', alt='')
					.clients__item
						img(src='images/clients/rif.png', alt='')
				.clients__slide.swiper-slide
					.clients__item.clients__item--big
						img(src='images/clients/sibur.png', alt='')
				.clients__slide.swiper-slide
					.clients__item
						img(src='images/clients/baltika.png', alt='')
					.clients__item
						img(src='images/clients/fosagro.png', alt='')
					.clients__item
						img(src='images/clients/coca-cola.png', alt='')
					.clients__item
						img(src='images/clients/rif.png', alt='')
				.clients__slide.swiper-slide
					.clients__item.clients__item--big
						img(src='images/clients/sibur.png', alt='')