section.first-screen
	.pattern
		.pattern__inner
			include ../../images/pattern.svg
			include ../../images/pattern.svg
			include ../../images/pattern.svg
	//.first-screen__bg
		svg(width='105' height='1542' viewBox='0 0 105 1542' fill='none' xmlns='http://www.w3.org/2000/svg')
			g(opacity='1')
				mask#mask0_2218_5622(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='586' width='105' height='579')
					rect(y='586' width='105' height='579' fill='#C4C4C4')
				g(mask='url(#mask0_2218_5622)')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 203.578 1041.04)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 193.374 1020.98)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 183.17 1000.93)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 172.966 980.872)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 162.762 960.816)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='320.715' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 152.558 940.76)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='352.846' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 142.354 920.703)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='374.92' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 132.15 900.647)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='428.736' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 137.543 864.678)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='464.664' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 135.824 835.965)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='504.173' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 133.821 807.541)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='544.431' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.109 779.84)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='589.995' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.127 750.376)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.553' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.81 718.191)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='621.584' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.755 688.8)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='629.597' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 134.217 654.801)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='624.674' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.957 626.64)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.223' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.82 597.332)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.276' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 129.847 567.858)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='586.974' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 108.501 559.169)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='548.512' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 81.3258 556.429)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='504.925' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 51.7906 556.096)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='459.066' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 19.3031 558.775)' fill='#A0AB7B' opacity='0.12')
			g(opacity='1')
				mask#mask1_2218_5622(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='105' height='586')
					rect(width='105' height='586' fill='#C4C4C4')
				g(mask='url(#mask1_2218_5622)')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 203.578 462.041)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 193.374 441.984)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 183.17 421.928)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 172.966 401.872)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 162.762 381.816)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='320.715' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 152.558 361.76)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='352.846' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 142.354 341.703)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='374.92' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 132.15 321.647)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='428.736' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 137.543 285.678)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='464.664' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 135.824 256.965)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='504.173' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 133.821 228.541)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='544.431' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.109 200.84)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='589.995' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.127 171.376)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.553' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.81 139.191)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='621.584' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.755 109.8)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='629.597' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 134.217 75.8008)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='624.674' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.957 47.64)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.223' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.82 18.3325)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.276' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 129.847 -11.1421)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='586.974' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 108.501 -19.8306)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='548.512' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 81.3258 -22.5707)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='504.925' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 51.7906 -22.9037)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='459.066' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 19.3031 -20.2247)' fill='#A0AB7B' opacity='0.12')
			g(opacity='1')
				mask#mask2_2218_5622(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='1165' width='105' height='377')
					rect(y='1165' width='105' height='377' fill='#C4C4C4')
				g(mask='url(#mask2_2218_5622)')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 162.762 1539.82)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='320.715' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 152.558 1519.76)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='352.846' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 142.354 1499.7)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='374.92' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 132.15 1479.65)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='428.736' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 137.543 1443.68)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='464.664' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 135.824 1414.96)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='504.173' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 133.821 1386.54)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='544.431' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.109 1358.84)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='589.995' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.127 1329.38)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.553' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.81 1297.19)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='621.584' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.755 1267.8)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='629.597' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 134.217 1233.8)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='624.674' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.957 1205.64)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.223' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.82 1176.33)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.276' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 129.847 1146.86)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='586.974' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 108.501 1138.17)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='548.512' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 81.3258 1135.43)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='504.925' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 51.7906 1135.1)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='459.066' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 19.3031 1137.78)' fill='#A0AB7B' opacity='0.12')
		svg(width='105' height='1542' viewBox='0 0 105 1542' fill='none' xmlns='http://www.w3.org/2000/svg')
			g(opacity='1')
				mask#mask0_2218_5622(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='586' width='105' height='579')
					rect(y='586' width='105' height='579' fill='#C4C4C4')
				g(mask='url(#mask0_2218_5622)')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 203.578 1041.04)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 193.374 1020.98)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 183.17 1000.93)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 172.966 980.872)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 162.762 960.816)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='320.715' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 152.558 940.76)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='352.846' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 142.354 920.703)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='374.92' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 132.15 900.647)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='428.736' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 137.543 864.678)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='464.664' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 135.824 835.965)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='504.173' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 133.821 807.541)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='544.431' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.109 779.84)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='589.995' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.127 750.376)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.553' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.81 718.191)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='621.584' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.755 688.8)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='629.597' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 134.217 654.801)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='624.674' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.957 626.64)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.223' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.82 597.332)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.276' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 129.847 567.858)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='586.974' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 108.501 559.169)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='548.512' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 81.3258 556.429)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='504.925' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 51.7906 556.096)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='459.066' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 19.3031 558.775)' fill='#A0AB7B' opacity='0.12')
			g(opacity='1')
				mask#mask1_2218_5622(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='105' height='586')
					rect(width='105' height='586' fill='#C4C4C4')
				g(mask='url(#mask1_2218_5622)')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 203.578 462.041)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 193.374 441.984)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 183.17 421.928)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 172.966 401.872)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 162.762 381.816)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='320.715' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 152.558 361.76)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='352.846' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 142.354 341.703)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='374.92' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 132.15 321.647)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='428.736' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 137.543 285.678)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='464.664' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 135.824 256.965)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='504.173' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 133.821 228.541)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='544.431' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.109 200.84)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='589.995' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.127 171.376)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.553' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.81 139.191)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='621.584' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.755 109.8)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='629.597' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 134.217 75.8008)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='624.674' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.957 47.64)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.223' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.82 18.3325)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.276' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 129.847 -11.1421)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='586.974' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 108.501 -19.8306)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='548.512' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 81.3258 -22.5707)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='504.925' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 51.7906 -22.9037)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='459.066' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 19.3031 -20.2247)' fill='#A0AB7B' opacity='0.12')
			g(opacity='1')
				mask#mask2_2218_5622(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='1165' width='105' height='377')
					rect(y='1165' width='105' height='377' fill='#C4C4C4')
				g(mask='url(#mask2_2218_5622)')
					rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 162.762 1539.82)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='320.715' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 152.558 1519.76)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='352.846' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 142.354 1499.7)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='374.92' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 132.15 1479.65)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='428.736' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 137.543 1443.68)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='464.664' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 135.824 1414.96)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='504.173' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 133.821 1386.54)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='544.431' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.109 1358.84)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='589.995' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.127 1329.38)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.553' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.81 1297.19)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='621.584' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.755 1267.8)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='629.597' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 134.217 1233.8)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='624.674' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.957 1205.64)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.223' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.82 1176.33)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='620.276' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 129.847 1146.86)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='586.974' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 108.501 1138.17)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='548.512' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 81.3258 1135.43)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='504.925' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 51.7906 1135.1)' fill='#A0AB7B' opacity='0.12')
					rect(width='9.85216' height='459.066' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 19.3031 1137.78)' fill='#A0AB7B' opacity='0.12')



	.container.first-screen__container
		.first-screen__wrapper
			.first-screen__col.first-screen__col--animate
				.first-screen__dynamic(data-tab='0', style='display: block')
					.first-screen__dynamic-hov-area
					.first-screen__animate.js-move-1
						img(src='images/wagon-1.png', alt='')
					.first-screen__rails
						img(src='images/wagon-2.png', alt='')
						.first-screen__counter
							p
								span <span class="js-digit">0,0000</span>
							p Тонн
				.first-screen__dynamic.first-screen__dynamic--2(data-tab='1')
					.first-screen__dynamic-hov-area
					.first-screen__animate.js-move-2
						img(src='images/wagon-4.png', alt='')
					.first-screen__rails
						img(src='images/wagon-3.png', alt='')
						.first-screen__counter
							p
								span <span class="js-digit val24">0,00</span>
							p Тонн
			.first-screen__col
				a.first-screen__phone(href='tel:88045550128') 8 (804) 555-01-28
				h1.first-screen__title Надежные весы для точных измерений
				.first-screen__subtitle Вы с нами, потому что согласны только на лучшее!
				.first-screen__type
					.first-screen__type-item.active
						p 01
						p Вагонные весы
					.first-screen__type-item
						p 02
						p Автомобильные весы
				.first-screen__connect
					a.first-screen__digits.anchor(href='#propertyes') Мы в цифрах
						+icon('chevron-down')(width='17', height='11')
					a.first-screen__call-me(href='#')
						+icon('phone')(width='27', height='27')
		#propertyes.first-screen__wrapper.first-screen__wrapper--bottom
			.first-screen__col
				.first-screen__property
					p <span class="js-prop">23</span>
					p Года работы на рынке
				.first-screen__property
					p <span class="js-prop">59</span>
					p Регионов
			.first-screen__col
				.first-screen__property
					p <span class="js-prop">3</span>,<span class="js-prop">5</span>k
					p Установленных весов
				.first-screen__property
					p <span class="js-prop">98</span>%
					p весов работают бесперебойно свыше 10 лет
