section.first-screen
	.first-screen__bg
		img(src='images/patterns/1.svg', alt='')
	.container.first-screen__container
		.first-screen__wrapper
			.first-screen__col.first-screen__col--animate
				.first-screen__dynamic
					.first-screen__animate
						img(src='images/wagon-1.png', alt='')
					.first-screen__rails
						img(src='images/wagon-2.png', alt='')
						.first-screen__counter
							p 00,00
							p Тонн
			.first-screen__col
				a.first-screen__phone(href='tel:88045550128') 8 (804) 555-01-28
				h1.first-screen__title Надежные весы для точных измерений
				.first-screen__subtitle Вы с нами, потому что согласны только на лучшее!
				.first-screen__type
					.first-screen__type-item
						p 01
						p Вагонные весы
					.first-screen__type-item.active
						p 02
						p Автомобильные весы
				.first-screen__connect
					.first-screen__digits Мы в цифрах
						+icon('chevron-down')(width='17', height='11')
					.first-screen__call-me
						+icon('phone')(width='27', height='27')
		.first-screen__wrapper.first-screen__wrapper--bottom
			.first-screen__col
				.first-screen__property
					p 23
					p Года работы на рынке
				.first-screen__property
					p 59
					p Регионов
			.first-screen__col
				.first-screen__property
					p 3,5k
					p Установленных весов
				.first-screen__property
					p 98%
					p весов работают бесперебойно свыше 10 лет
