//
	extends ../layouts/default

	block vars
		-
			const page = {
				title: 'Главная'
			};

	block main
	//	.title-l2 Полный цикл
.section-product-tabs
	.container
		h2.title-l2.title-l2--product-tabs Весы автомобильные тензометрические ВАТ
		+filter([
			{
				text: 'Описание',
				class: 'filter__button--active'
			},
			{text: 'Способы установки'},
			{text: 'Характеристики'},
			{text: 'Модели'},
			{text: 'Сертификаты'},
		], 'product__tabs')
		.product__content
			.product__content-item(style='display: block;')

				.simple-text.simple-text--chyst
					p Весы автомобильные тензометрические ВАТ предназначены для статического взвешивания автомобильного транспорта. Устанавливаются на фундамент.
				.chyst-cycle.chyst-cycle--product-tabs
					.chyst-cycle-item
						.chyst-cycle-item__icon
							img(src="images/product/icons/tab1/1.svg", alt="")
						.chyst-cycle-item__name Датчики HBM, Германия
					.chyst-cycle-item
						.chyst-cycle-item__icon
							img(src="images/product/icons/tab1/2.svg", alt="")
						.chyst-cycle-item__name Запатентованная конструкция платформы
					.chyst-cycle-item
						.chyst-cycle-item__icon
							img(src="images/product/icons/tab1/3.svg", alt="")
						.chyst-cycle-item__name Штатный терминал
					.chyst-cycle-item
						.chyst-cycle-item__icon
							img(src="images/product/icons/tab1/4.svg", alt="")
						.chyst-cycle-item__name Автоматизация взвешивания
					.chyst-cycle-item
						.chyst-cycle-item__icon
							img(src="images/product/icons/tab1/5.svg", alt="")
						.chyst-cycle-item__name Система защиты от внешнего воздействия
					.chyst-cycle-item
						.chyst-cycle-item__icon
							img(src="images/product/icons/tab1/6.svg", alt="")
						.chyst-cycle-item__name Взрывозащищенное исполнение
					.chyst-cycle-item
						.chyst-cycle-item__icon
							img(src="images/product/icons/tab1/7.svg", alt="")
						.chyst-cycle-item__name Сертифицированное измерение нагрузки на ось
					.chyst-cycle-item
						.chyst-cycle-item__icon
							img(src="images/product/icons/tab1/8.svg", alt="")
						.chyst-cycle-item__name Оперативная установка

			.product__content-item
				.simple-text.simple-text--product-tab-2
					h3 Врезной
					img(src="images/product/tab2/1.svg", alt="")
					p  Монтаж осуществляется на фундамент в приямок на одном уровне с дорожным полотном. Организуется дренажная система. Отсутствие пандуса облегчает заезд и съезд автомобиля с весов.
					h3 Плюсы
					ul
						li Требуется меньшая площадь под установку весов
						li Исключается экстремальный съезд транспорта с весов
						li Весы не препятствуют движению
						li Ограничен доступ для установки устройств несанкционированного воздействия
						li Возможно подключение измерения нагрузки на ось
					h3 Наземный
					img(src="images/product/tab2/2.svg", alt="")
					p Монтаж осуществляется на фундамент, спроектированный с учётом особенностей рельефа. Заезд автомобиля происходит по металлическим или бетонным пандусам.
					h3 Плюсы
					ul
						li Лёгкий доступ ко всем рабочим узлам весов для обслуживания, ремонта, контроля
						li Удобство очистки подвесового пространства
						li Водоотведение в районе весов происходит по сформированным уклонам поверхности

			.product__content-item
				table.table.table--product-1.table--product-1--x2
					tbody
						tr
							td ГОСТ
							td OIML R 76-1-2011
						tr
							td Свидетельство об утверждении типа средств измерений
							td № 43598/1
						tr
							td Класс точности весов по ГОСТ OIML R 76-1-2011
							td III
						tr
							td Класс точности датчиков по ГОСТ Р 8.726-2010 (МОЗМ Р 60)
							td С3
						tr
							td Диапазон температур платформы, ̊C
							td -30…+40
						tr
							td Диапазон температур датчиков, ̊C
							td -50…+50
						tr
							td Электропитание от сети переменного тока, В
							td 187…242
						tr
							td Электропитание от источника резервного питания, В
							td 12
						tr
							td Потребляемая мощность (не более), Вт
							td 15
						tr
							td Цена деления, кг
							td 10/20/50
						tr
							td Сходимость, кг
							td от 2
						tr
							td Средний срок службы по ГОСТ OIML R76-1-2011, не менее, лет
							td 8
						tr
							td Гарантийный срок, месяцев
							td до 60

				.big-letters-list
					.bl-list-item
						.bl-list-item__number 01
						.bl-list-item__content.simple-text
							p Точные и надежные тензометрические датчики Hottinger Baldwin Messtechnik, Германия, гарантируют защиту от взлома и преднамеренного изменения данных.
					.bl-list-item
						.bl-list-item__number 02
						.bl-list-item__content.simple-text
							p Запатентованная конструкция платформы за счёт шарнирного соединения её модулей повышает точность взвешивания.
					.bl-list-item
						.bl-list-item__number 03
						.bl-list-item__content.simple-text
							p Штатный терминал с интуитивно понятным интерфейсом и широким набором функций:
							ul
								li сохранение истории калибровок
								li режим просмотра покилограммного взвешивания
								li оповещение о неработающем датчике
								li измерение температуры окружающей среды
								li стабилизация данных измерений при ветре
					.bl-list-item
						.bl-list-item__number 04
						.bl-list-item__content.simple-text
							p Автоматизация процесса взвешивания с использованием собственного программного обеспечения для получения корректных данных, особенно при работе весовой с интенсивным трафиком.

					.bl-list-item
						.bl-list-item__number 05
						.bl-list-item__content.simple-text
							p Система защиты элементов весового комплекса от внешнего воздействия:
							ul
								li чехлы для дополнительной грязезащиты датчиков
								li бензомаслостойкое резиновое уплотнение с высоким содержанием каучука для предотвращения попадания грязи в подвесовое пространство
								li металлорукава для защиты кабельных линий от механических повреждений
					.bl-list-item
						.bl-list-item__number 06
						.bl-list-item__content.simple-text
							p Максимально быстрая – до 8 дней, установка весов за счет возможности применения сборно-блочного фундамента, изготовленного на заводе
					.bl-list-item
						.bl-list-item__number 07
						.bl-list-item__content.simple-text
							p Возможность взрывозащищенного исполнения
					.bl-list-item
						.bl-list-item__number 08
						.bl-list-item__content.simple-text
							p Сертифицированное измерение нагрузки на ось с возможностью печати актов взвешивания

			.product__content-item
				.table-models-wrap.js-table-scrollbar
					table.table-models.table-hover-x
						colgroup
						colgroup
						colgroup
						colgroup
						colgroup
						colgroup
						<tbody>
							<tr class="table-models__row table-models__row--heading">
								<th class="table-models__col table-models__col--heading">Модель</th><th class="table-models__col table-models__col--heading">Нагрузка тонн</th><th class="table-models__col table-models__col--heading">Размер</th><th class="table-models__col table-models__col--heading">Кол-во платформ</th><th class="table-models__col table-models__col--heading">Кол-во датчиков</th><th class="table-models__col table-models__col--heading">Примеры авто</th>											</tr>
							<tr class="table-models__row"><td class="table-models__col" aria-label="">ВАТ-30-6-3-1</td><td class="table-models__col" aria-label="">30</td><td class="table-models__col" aria-label="">6</td><td class="table-models__col" aria-label="">1</td><td class="table-models__col" aria-label="">4</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img width="160" alt="изотермическии фургон.png" src="images/model/086z921uwd6aidp29rn32v39hm7lbg72.png" height="84" title="изотермическии фургон.png"></div><div class="table-models-car"><img width="236" alt="грузовик с навесом.png" src="images/model/5wli8ky2sj4xjj9cn6xq12n0cv4lv3a4.png" height="96" title="грузовик с навесом.png"></div></div></td></tr><tr class="table-models__row"><td class="table-models__col" aria-label="">ВАТ-40-8-3-1</td><td class="table-models__col" aria-label="">40</td><td class="table-models__col" aria-label="">8</td><td class="table-models__col" aria-label="">1</td><td class="table-models__col" aria-label="">6</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img width="192" alt="самосвал.png" src="images/model/9du6940b0hgnrimhxco33aq9kh9xc5bw.png" height="84" title="самосвал.png"></div><div class="table-models-car"><img width="196" alt="бетоновоз.png" src="images/model/vhpktlnebefeqd2m3miqxvbjrx5x83kn.png" height="90" title="бетоновоз.png"></div><div class="table-models-car"><img width="234" alt="грузовик.png" src="images/model/k9u6lpwhtue1t11n2j1yhiwan1r99nb0.png" height="90" title="грузовик.png"></div><div class="table-models-car"><img width="204" alt="мусоровоз.png" src="images/model/xkzchjlsmjdgkn92epkeu59juwxha6oo.png" height="88" title="мусоровоз.png"></div></div></td></tr><tr class="table-models__row"><td class="table-models__col" aria-label="">ВАТ-60-12-3-2</td><td class="table-models__col" aria-label="">60</td><td class="table-models__col" aria-label="">12</td><td class="table-models__col" aria-label="">2</td><td class="table-models__col" aria-label="">6</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img width="232" alt="цементовоз.png" src="images/model/sd0k2l4hqsekcmi4mu4cwdzjewwgcss3.png" height="78" title="цементовоз.png"></div><div class="table-models-car"><img width="232" alt="самосвал Renault Kerax.png" src="images/model/vwty0adig919u09d1huyqehuyh62g1tt.png" height="82" title="самосвал Renault Kerax.png"></div></div></td></tr><tr class="table-models__row"><td class="table-models__col" aria-label="">ВАТ-60-16-3-3</td><td class="table-models__col" aria-label="">60</td><td class="table-models__col" aria-label="">16</td><td class="table-models__col" aria-label="">3</td><td class="table-models__col" aria-label="">8</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img width="226" alt="КАМАЗ сельхозник.png" src="images/model/di5whhvsg2t007xd2444gxawmpu5s88c.png" height="62" title="КАМАЗ сельхозник.png"></div><div class="table-models-car"><img width="252" alt="222222221.png" src="images/model/zyx3f3l9x3xkvmztw5wh1rruoq9fmtuf.png" height="58" title="222222221.png"></div><div class="table-models-car"><img width="232" alt="фура.png" src="images/model/rsi18d1mk1lwnv3a5im8yb7fvufgjw5o.png" height="74" title="фура.png"></div></div></td></tr><tr class="table-models__row hover"><td class="table-models__col" aria-label="">ВАТ-60-18-3-3</td><td class="table-models__col" aria-label="">60</td><td class="table-models__col" aria-label="">18</td><td class="table-models__col" aria-label="">3</td><td class="table-models__col" aria-label="">8</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img width="232" alt="КАМАЗ с 12м полуприцепом.png" src="images/model/0w1in9w9dvma0meuwkc4jx1ae95bsunu.png" height="48" title="КАМАЗ с 12м полуприцепом.png"></div></div></td></tr><tr class="table-models__row"><td class="table-models__col" aria-label="">ВАТ-60-18-3-4</td><td class="table-models__col" aria-label="">60</td><td class="table-models__col" aria-label="">20</td><td class="table-models__col" aria-label="">4</td><td class="table-models__col" aria-label="">8</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img width="234" alt="тонар.png" src="images/model/oriov8195xpsm7okh4gj7nyglcocg67d.png" height="54" title="тонар.png"></div></div></td></tr><tr class="table-models__row"><td class="table-models__col" aria-label="">ВАТ-60-22-3-4</td><td class="table-models__col" aria-label="">60</td><td class="table-models__col" aria-label="">22</td><td class="table-models__col" aria-label="">4</td><td class="table-models__col" aria-label="">8</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img alt="автопоезд3.png" src="images/model/g8rrunjmzoibwmbhmjkrj7epe73z9m1o.png" title="автопоезд3.png"></div></div></td></tr><tr class="table-models__row"><td class="table-models__col" aria-label="">ВАТ-80-16-3-3</td><td class="table-models__col" aria-label="">80</td><td class="table-models__col" aria-label="">16</td><td class="table-models__col" aria-label="">3</td><td class="table-models__col" aria-label="">8</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img width="226" alt="КАМАЗ сельхозник.png" src="images/model/di5whhvsg2t007xd2444gxawmpu5s88c.png" height="62" title="КАМАЗ сельхозник.png"></div><div class="table-models-car"><img width="252" alt="222222221.png" src="images/model/zyx3f3l9x3xkvmztw5wh1rruoq9fmtuf.png" height="58" title="222222221.png"></div><div class="table-models-car"><img width="232" alt="фура.png" src="images/model/rsi18d1mk1lwnv3a5im8yb7fvufgjw5o.png" height="74" title="фура.png"></div></div></td></tr><tr class="table-models__row"><td class="table-models__col" aria-label="">ВАТ-80-18-3-3</td><td class="table-models__col" aria-label="">80</td><td class="table-models__col" aria-label="">18</td><td class="table-models__col" aria-label="">3</td><td class="table-models__col" aria-label="">8</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img width="232" alt="КАМАЗ с 12м полуприцепом.png" src="images/model/0w1in9w9dvma0meuwkc4jx1ae95bsunu.png" height="48" title="КАМАЗ с 12м полуприцепом.png"></div></div></td></tr><tr class="table-models__row"><td class="table-models__col" aria-label="">ВАТ-80-20-3-4</td><td class="table-models__col" aria-label="">80</td><td class="table-models__col" aria-label="">20</td><td class="table-models__col" aria-label="">4</td><td class="table-models__col" aria-label="">10</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img width="234" alt="тонар.png" src="images/model/oriov8195xpsm7okh4gj7nyglcocg67d.png" height="54" title="тонар.png"></div></div></td></tr><tr class="table-models__row"><td class="table-models__col" aria-label="">ВАТ-80-22-3-4</td><td class="table-models__col" aria-label="">80</td><td class="table-models__col" aria-label="">22</td><td class="table-models__col" aria-label="">3</td><td class="table-models__col" aria-label="">10</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img width="234" alt="тонар.png" src="images/model/oriov8195xpsm7okh4gj7nyglcocg67d.png" height="54" title="тонар.png"></div></div></td></tr><tr class="table-models__row"><td class="table-models__col" aria-label="">ВАТ-80-24-3-4</td><td class="table-models__col" aria-label="">80</td><td class="table-models__col" aria-label="">24</td><td class="table-models__col" aria-label="">4</td><td class="table-models__col" aria-label="">10</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img width="345" alt="автопоезд3.png" src="images/model/g8rrunjmzoibwmbhmjkrj7epe73z9m1o.png" height="57" title="автопоезд3.png"></div></div></td></tr><tr class="table-models__row"><td class="table-models__col" aria-label="">ВАТ-100-18-3-3</td><td class="table-models__col" aria-label="">100</td><td class="table-models__col" aria-label="">18</td><td class="table-models__col" aria-label="">3</td><td class="table-models__col" aria-label="">8</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img width="252" alt="222222221.png" src="images/model/zyx3f3l9x3xkvmztw5wh1rruoq9fmtuf.png" height="58" title="222222221.png"></div></div></td></tr><tr class="table-models__row"><td class="table-models__col" aria-label="">ВАТ-100-20-3-4</td><td class="table-models__col" aria-label="">100</td><td class="table-models__col" aria-label="">20</td><td class="table-models__col" aria-label="">4</td><td class="table-models__col" aria-label="">10</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img width="234" alt="тонар.png" src="images/model/oriov8195xpsm7okh4gj7nyglcocg67d.png" height="54" title="тонар.png"></div></div></td></tr><tr class="table-models__row"><td class="table-models__col" aria-label="">ВАТ-100-22-3-4</td><td class="table-models__col" aria-label="">100</td><td class="table-models__col" aria-label="">22</td><td class="table-models__col" aria-label="">4</td><td class="table-models__col" aria-label="">10</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img width="234" alt="тонар.png" src="images/model/oriov8195xpsm7okh4gj7nyglcocg67d.png" height="54" title="тонар.png"></div></div></td></tr><tr class="table-models__row"><td class="table-models__col" aria-label="">ВАТ-100-24-3-4</td><td class="table-models__col" aria-label="">100</td><td class="table-models__col" aria-label="">24</td><td class="table-models__col" aria-label="">4</td><td class="table-models__col" aria-label="">10</td><td class="table-models__col" aria-label="">
								<div class="table-models-cars"><div class="table-models-car"><img width="345" alt="автопоезд3.png" src="images/model/g8rrunjmzoibwmbhmjkrj7epe73z9m1o.png" height="57" title="автопоезд3.png"></div></div></td></tr>
						</tbody>
						//- tbody
						//- 	tr.table-models__row.table-models__row--heading
						//- 		th.table-models__col.table-models__col--heading Модель
						//- 		th.table-models__col.table-models__col--heading Нагрузка тонны
						//- 		th.table-models__col.table-models__col--heading Размер
						//- 		th.table-models__col.table-models__col--heading Кол-во платфор
						//- 		th.table-models__col.table-models__col--heading Кол-во датчиков
						//- 		th.table-models__col.table-models__col--heading Примеры авто
							//- each val in [1,2,3,4,5,6]
							//- 	tr.table-models__row
							//- 		td.table-models__col ВАТ-30-6-3-1
							//- 		td.table-models__col 30
							//- 		td.table-models__col 100
							//- 		td.table-models__col 24
							//- 		td.table-models__col 4
							//- 		td.table-models__col
							//- 			.table-models-cars
							//- 				.table-models-car
							//- 					img(src="images/product/car.png", alt="")
							//- 				.table-models-car
							//- 					img(src="images/product/car.png", alt="")






			.product__content-item
				.cert-gallery
					a.cert-gallery-item(href="images/certs/new__1.jpg" data-fancybox="cert-gallery")
						img(src='images/certs/new__1.jpg', srcset='images/certs/new__1.jpg 2x', alt='')
					a.cert-gallery-item(href="images/certs/new__2.jpg" data-fancybox="cert-gallery")
						img(src='images/certs/new__2.jpg', srcset='images/certs/new__2.jpg 2x', alt='')
					a.cert-gallery-item(href="images/certs/new__3.png" data-fancybox="cert-gallery")
						img(src='images/certs/new__3.png', srcset='images/certs/new__3.png 2x', alt='')
					a.cert-gallery-item(href="images/certs/new__4.png" data-fancybox="cert-gallery")
						img(src='images/certs/new__4.png', srcset='images/certs/new__4.png 2x', alt='')
