header.header
	a.header__logo(href='index.html')
		+icon('logo')(width='52', height='88')
	.container.header__container
		include ../partials/menu.pug
		a.header__login(href='#')
			+icon('chevron-right')(width='13', height='20')
			span Войти
		.header__theme
			button.header__theme-switcher.js-header__theme-switcher.active(data-class="color-theme-dark")
				+icon('theme-dark')(width='22', height='24')
			button.header__theme-switcher.js-header__theme-switcher(data-class="color-theme-light")
				+icon('theme-light')(width='29', height='28')

	.sh-burger.js-header-burger
		span
		.sh-burger__size-expander

