//- nav.menu
//- 	each item in MENU
//- 		if item.sub
//- 			li.menu__link.menu__link--expand
//- 				a.menu__link-a(href=item.url)= item.text
//- 				.menu__link-expand-svg
//- 					+icon('chevron-down')(width='17', height='11')
//- 				.menu__inner
//- 					.container
//- 						ul
//- 							each subItem in item.sub
//- 								li
//- 									a(href=subItem.url)= subItem.text
//- 		else
//- 			li.menu__link
//- 				a.menu__link-a(href=item.url)= item.text
<nav class="menu">
	<li class="menu__link menu__link--expand"><a class="menu__link-a" href="#">Компания</a>
		<div class="menu__link-expand-svg">
			<svg width="17" height="11">
				<use xlink:href="./images/sprite.svg#chevron-down"></use>
			</svg>
		</div>
		<div class="menu__inner">
			<div class="container">
				<ul>
					<li><a href="about-company.html">О компании</a></li>
					<li><a href="employees.html">Сотрудники</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li class="menu__link menu__link--expand"><a class="menu__link-a" href="#">Каталог</a>
		<div class="menu__link-expand-svg">
			<svg width="17" height="11">
				<use xlink:href="./images/sprite.svg#chevron-down"></use>
			</svg>
		</div>
		<div class="menu__inner">
			<div class="container">
				<ul>
					<li><a href="weights-page.html">Автомобильные весы</a></li>
					<li><a href="vesy-vagonnye.html">Вагонные весы</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li class="menu__link menu__link--expand"><a class="menu__link-a" href="#">Услуги</a>
		<div class="menu__link-expand-svg">
			<svg width="17" height="11">
				<use xlink:href="./images/sprite.svg#chevron-down"></use>
			</svg>
		</div>
		<div class="menu__inner">
			<div class="container">
				<ul>
					<li><a href="poverka.html">Поверка</a></li>
					<li><a href="remont-vesovogo-oborudovaniya.html">Ремонт</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li class="menu__link"><a class="menu__link-a" href="projects-page.html">Проекты</a></li>
	<li class="menu__link"><a class="menu__link-a" href="articles-page.html">Статьи</a></li>
	<li class="menu__link"><a class="menu__link-a" href="contacts.html">Контакты</a></li>
</nav>