.clients {
	$parent: &;

	background-color: $dunkl;
	position: relative;

	&__bg-outer {
		width: vw(105);
		height: calc(100% + 205px);
		position: absolute;
		top: -205px;
		right: 0;
		overflow: hidden;
	}

	&__bg {
		display: flex;
		flex-direction: column;

		@include max(md) {
			display: none;
		}

		svg {
			width: 100%;
			height: 100%;

			rect {
				transition: all 0.3s ease;

				@include hover {
					fill: $orange;
					opacity: 1;
				}
			}
		}
	}

	&__container {
		padding-top: 54px;
		border-left: 1px solid $green-lemon-op-0-12;

		@include max(md) {
			padding-top: 33px;
			padding-bottom: 63px;
			border-left: 0;
		}
	}

	&__slider {
		margin-left: -1px;
		margin-top: 62px;

		@include max(md) {
			margin-left: 0;
			margin-right: -15px;
			margin-top: 14px;
		}

		.swiper-wrapper {
			flex-wrap: wrap;
			border-top: 1px solid $black-15;
			border-left: 1px solid $black-15;

			@include max(md) {
				flex-wrap: nowrap;
			}
		}
	}

	&__slide {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: 122px;
		border-bottom:  1px solid $black-15;
		border-right:  1px solid $black-15;

		&--big {
			width: 100%;
			height: 244px;
		}
	}
}