.first-screen {
	$parent: &;

	position: relative;

	@include max(md) {
		padding: 120px 0 87px;
	}

	&__dynamic {
		display: none;
		margin-left: vw(-363);

		@include max(lg) {
			padding-top: 132px;
		}

		@include max(md) {
			padding-top: 0;
			max-width: 86%;
			margin-left: -15px;
		}

		@include max(xs) {
			margin-left: -80px;
		}

		&.start {
			#{$parent}__animate {
				transform: translate(-450px,-170px);

				@include max(md) {
					transform: translate(-185px, -95px);
				}
			}
		}

		&--2 {
			#{$parent} {
				&__rails {
					margin-top: -142px;

					@include max(lg) {
						margin-top: -98px;
					}
				}

				&__counter {
					bottom: 60%;
					right: 9px;

					@include max(lg) {
						right: -9px;
					}
				}
			}
		}
	}

	&__animate {
		position: relative;
		z-index: 2;
		top: 25px;
		animation-direction: reverse;

		@include max(lg) {
			width: 250px;
			margin-top: -125px;
		}

		&.js-move-1 {
			transform: translate(-185px, -95px);

			@include max(md) {
				transform: translate(-20px, -10px);
			}
		}

		&.js-move-2 {
			transform: translate(-128px, -71px);

			@include max(md) {
				transform: translate(-20px, -10px);
			}
		}
	}

	&__rails {
		width: 578px;
		margin-top: -177px;
		position: relative;

		@include max(lg) {
			width: 342px;
			margin-top: -91px;
		}

		img {
			position: relative;
			z-index: 1;
		}
	}

	&__counter {
		min-width: 112px;
		position: absolute;
		bottom: 68%;
		right: -24px;

		@include max(lg) {
			bottom: 61%;
			right: -67px;
		}

		@include max(sm) {
			right: -25px;
		}

		&.active {
			&::before,
			&::after {
				background-color: $orange;
			}

			p {
				&:first-child {
					color: $white;
				}

				&:last-child {
					color: $orange;
				}
			}
		}

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			background-color: rgba($green-lemon, 0.32);
			transition: background-color 0.5s ease;
		}

		&::before {
			width: 7px;
			height: 7px;
			border-radius: 50%;
			bottom: -8px;
			left: 3px;

			@include max(lg) {
				width: 4px;
				height: 4px;
				bottom: 10px;
				left: -8px;
			}
		}

		&::after {
			width: 1px;
			height: 116px;
			bottom: -124px;
			left: 6px;

			@include max(lg) {
				bottom: -106px;
				left: -6px;
			}
		}

		p {
			line-height: 32px;
			font-weight: 300;
			color: rgba($textMainColor, 0.32);
			position: relative;
			transition: color 0.5s ease, opacity 0.5s ease;

			&:first-child {
				font-size: 44px;
			}

			&:last-child {
				font-size: 16px;
			}
		}
	}

	&__bg {
		display: flex;
		flex-direction: column;
		width: vw(107);
		position: absolute;
		top: 0;
		right: 0;

		@include max(md) {
			display: none;
		}

		svg {
			width: 100%;
			height: 100%;
			position: relative;

			&:not(:first-child) {
				top: -16px;
				clip-path: polygon(0 16px, 100% 16px, 100% 100%, 0 100%);
			}

			rect {
				transition: all 0.3s ease;

				@include hover {
					fill: $orange;
					opacity: 1;
				}
			}
		}
	}

	&__wrapper {
		display: flex;

		@include max(md) {
			flex-direction: column;
		}

		&--bottom {
			@include max(md) {
				flex-direction: row;
				margin-top: 58px;
			}

			#{$parent}__col {
				padding: 211px 0 178px;

				@include max(md) {
					padding: 0;
				}

				&:first-child {
					@include max(md) {
						width: 41%;
						padding-right: 15px;
					}

					@include max(xs) {
						width: 50%;
					}
				}

				&:last-child {
					width: 42.3%;

					@include max(xs) {
						width: 50%;
					}
				}
			}
		}
	}

	&__col {
		padding: 132px 0 0;
		border-left: 1px solid rgba($green-lemon, 0.12);

		@include max(md) {
			padding: 0;
		}

		@include max(md) {
			border-left: 0;
		}

		&:first-child {
			width: 37.5%;

			@include max(md) {
				width: 100%;
			}
		}

		&:last-child {
			width: 62.5%;

			@include max(md) {
				width: 100%;
			}
		}

		&--animate {
			@include max(md) {
				margin-top: 185px;
				order: 1;
			}
		}
	}

	&__phone {
		font-size: 24px;
		line-height: 39px;
		font-weight: 700;
		color: $green-lemon;
		background-color: $dunkl;
		padding: 6px 27px 6px 0;
	}

	&__title {
		font-size: 66px;
		line-height: 66px;
		font-weight: 700;
		color: $white;
		margin-top: 12px;
		margin-left: -4px;

		@include max(md) {
			font-size: 44px;
			line-height: 44px;
			margin-top: 15px;
			margin-left: 0;
		}
	}

	&__subtitle {
		max-width: 284px;
		font-size: 18px;
		line-height: 32px;
		font-weight: 300;
		margin-top: 19px;
		margin-left: -1px;

		@include max(md) {
			margin-top: 23px;
			margin-left: 0;
		}
	}

	&__type {
		display: flex;
		margin-top: 50px;

		@include max(md) {
			margin-top: 32px;
		}
	}

	&__type-item {
		color: rgba($white, 0.32);
		transition: color 0.3s ease;
		cursor: pointer;

		@include hover {
			color: $white;
		}

		+ #{$parent}__type-item {
			margin-left: 73px;

			@include max(md) {
				margin-left: 50px;
			}
		}

		p {
			line-height: 32px;
			font-weight: 300;

			@include max(xs) {
				line-height: 20px;
			}

			&:first-child {
				font-size: 44px;
				margin-left: -3px;

				@include max(md) {
					margin-left: 0;
				}
			}

			&:last-child {
				font-size: 16px;

				@include max(xs) {
					margin-top: 15px;
				}
			}
		}

		&.active {
			color: $white;
		}
	}

	&__connect {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 72px;
		padding-right: 140px;

		@include max(md) {
			display: none;
		}
	}

	&__digits {
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 39px;
		font-weight: 500;
		color: rgba($white, 0.64);
		transition: color 0.3s ease;

		@include hover {
			color: $green-lemon;

			svg {
				fill: $green-lemon;
			}
		}

		svg {
			fill: rgba($textMainColor, 0.64);
			margin-left: 12px;
			transition: fill 0.3s ease;
		}
	}

	&__call-me {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 71px;
		height: 71px;
		border-radius: 50%;
		background-color: $green;
		position: relative;
		transition: background-color 0.3s ease;

		@include hover {
			background-color: $green-hover;

			&::before {
				width: 125%;
				height: 125%;
			}
		}

		&::before {
			content: '';
			display: block;
			width: 115%;
			height: 115%;
			border-radius: 50%;
			border: 2px solid rgba($green, 0.32);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: all 0.3s ease;
		}

		svg {
			fill: $white;
		}
	}

	&__property {
		max-width: 252px;

		@include max(xs) {
			max-width: 100%;
		}

		+ #{$parent}__property {
			margin-top: 124px;

			@include max(md) {
				margin-top: 50px;
			}
		}

		p {
			&:first-child {
				font-family: $robotoFont;
				font-size: 90px;
				line-height: 105px;
				font-weight: 100;
				color: $white;
				margin-left: -5px;

				@include max(md) {
					font-size: 64px;
					line-height: 75px;
					margin-left: 0;
				}
			}

			&:last-child {
				font-size: 18px;
				line-height: 32px;
				font-weight: 500;
				color: rgba($textMainColor, 0.64);
				margin-left: -2px;

				@include max(md) {
					font-size: 16px;
					line-height: 26px;
					margin-left: 0;
					margin-top: 15px;
				}
			}
		}
	}
}