.partners {
	$parent: &;

	&__container {
		padding-top: 128px;

		@include max(lg) {
			padding-top: 80px;
		}

		@include max(sm) {
			padding-top: 32px;
		}

		&--bottom {
			padding-top: 0;
			padding-bottom: 25px;
		}
	}

	&__pdf-wrapper {
		margin-top: 57px;
	}

	&__pdf-item {
		+ #{$parent}__pdf-item {
			margin-top: 32px;
		}
	}

	&__subtitle {
		font-size: 32px;
		line-height: 37px;
		font-weight: 700;
		letter-spacing: -0.1px;

		@include max(md) {
			font-size: 26px;
			line-height: 32px;
		}
	}

	&__docs {
		display: flex;
		flex-wrap: wrap;
		margin-top: 128px;

		@include max(md) {
			margin-top: 70px;
		}

		@include max(xs) {
			flex-direction: column;
		}

		&--title {
			#{$parent}__col {
				@include max(md) {
					width: 100%;
				}
			}
		}

		&--mt {
			margin-top: 67px;

			@include max(md) {
				margin-top: 35px;
			}
		}
	}

	&__col {
		width: 37.5%;

		@include max(sm) {
			width: 50%;
		}

		@include max(xs) {
			width: 100%;
		}
	}

	&__docs-item {
		max-width: 250px;
		margin-bottom: 35px;

		@include max(xs) {
			max-width: 100%;
		}

		svg {
			fill: $green;
			margin-left: 5px;
		}

		p {
			font-size: 22px;
			line-height: 27px;
			font-weight: 700;
			margin-top: 29px;

			@include max(sm) {
				margin-top: 10px;
			}
		}

		a {
			display: inline-block;
			font-size: 16px;
			line-height: 28px;
			font-style: italic;
			text-decoration: underline;
			margin-top: 9px;

			@include hover {
				text-decoration: none;
			}
		}
	}

	&__nav {
		margin-top: 91px;

		@include max(md) {
			margin-top: 80px;
		}

		@include max(sm) {
			margin-top: 40px;
		}
	}

	&__slider {
		margin-top: 62px;
		padding-left: 5px;

		@include max(sm) {
			margin-top: 40px;
		}

		@include max(xs) {
			margin-top: 15px;
		}
	}

	&__slide {
		p {
			font-size: 16px;
			line-height: 27px;
			font-weight: 700;
			color: $white;
			margin-top: 15px;

			@include max(md) {
				text-align: center;
			}

			@include max(sm) {
				font-size: 14px;
				line-height: 21px;
			}
		}
	}

	&__slide-image {
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: bottom;
		}
	}
}