.partners-inner-container {
	width: 837px;
	max-width: 100%;
	@media only screen and (max-width: 1079px){
		width: 100%;
	}
}


.partners-banner {
	position: relative;
	z-index: 1;
	margin-top: 56px;
	background: $dunkl;

	&+.partners-banner {
		margin-top: 32px;
	}

	&__inner {
		position: relative;
		z-index: 2;

	}

	&__left {
		padding: 64px 32px 32px;
		width: 50%;

		@media only screen and (max-width: 766px) {
			width: 100%;
			padding: 20px 15px;
		}
	}

	&__title {

		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
		/* or 123% */


		/* green white */

		color: $dunkl;

	}

	&__button-wrap {
		display: flex;
		justify-content: flex-start;
		margin-top: 96px;
		@media only screen and (max-width: 766px) {
			margin-top: 45px;
		}
	}

	&__button {
		width: auto;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		//width: 252px;
		padding: 34px 39px 34px 27px;

		@media only screen and (max-width: 766px) {
			padding: 32px 15px;
			width: 100%;
			justify-content: center;

		}
		svg {
			-webkit-box-ordinal-group: 0;
			-ms-flex-order: -1;
			order: -1;
			margin-left: 0;
			margin-right: 17px;
			@media only screen and (max-width: 766px) {
				margin-right: 10px;
			}
		}
	}

	&__image {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		z-index: 1;
		height: 100%;


		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}

	&--half {

		.partners-banner__image {
			width: 49%;
			@media only screen and (max-width: 766px) {
				display: none;
			}
		}
		.partners-banner__left{
		}
		.partners-banner__title{

		color: $textMainColor;
		}
	}
}

.section-download-files {
	margin-top: 127px;
	@media only screen and (max-width: 767px){
		margin-top: 40px;
	}
}

.title-l2--download-files {
	width: 375px;
	max-width: 100%;
}


.download-files {
	width: 654px;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 64px;
	margin-bottom: -32px;
	justify-content: space-between;

	&-item {
		margin-bottom: 32px;
		width: calc(50% - 36px);
		transition-duration: .3s;

		&:hover{
			opacity: .7;
		}

		@media only screen and (max-width: 600px) {
			width: calc(50% - 10px);

		}

		@media only screen and (max-width: 460px) {
			width: 100%;
		}

		&__icon {
			width: 32px;

			img {
				width: 100%;
				height: auto;
			}
		}

		&__title {
			font-style: normal;
			font-weight: 700;
			font-size: 22px;
			line-height: 27px;
			color: $textMainColor;
			margin-top: 32px;
		}

		&__description {
			margin-top: 8px;
			width: 246px;
			max-width: 100%;
			font-style: italic;
			font-weight: 400;
			font-size: 16px;
			line-height: 28px;
			text-decoration-line: underline;
			color: $textMainColor;
			@media only screen and (max-width: 460px) {
				width: 100%;
			}

		}
	}
}

.ref-list-slider{
    margin-top: 62px;
    margin-bottom: -35px;
}
.ref-list-slide {
	transition-duration: .3s;
	outline: none;

	&:hover{
		opacity: .7;
	}
	&__pic {
		position: relative;

		padding-top: 142.245%;

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name {
		margin-top: 16px;
		font-weight: 700;
		font-size: 16px;
		line-height: 27px;
		color: $white;
	}
}