.preloader {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: $black-15;
	z-index: 110;

	&__logo {
		svg {
			fill: $white;
		}
	}

	&__progress {
		margin-top: 90px;

		svg > g {
			display: none;
		}
	}
}