.products {
	$parent: &;

	background-color: $dunkl;
	position: relative;
	z-index: 1;

	overflow: hidden;

	&__container {
		padding-top: 147px;
		border-left: 1px solid $green-lemon-op-0-12;
		border-top: 1px solid $green-lemon-op-0-12;

		@include max(md) {
			padding-top: 32px;
		}
	}

	&__title {
		margin-bottom: 99px;

		@include max(md) {
			margin-bottom: 29px;
		}
	}

	&__item {
		+ #{$parent}__item {
			margin-top: 80px;
		}
		&:hover {
			.button--bordered {
				border-color: transparent;

				&::before {
					width: 100%;
					height: 100%;
					background-color: $green-hover;
				}
			}
		}
		&--2 {
			.products-item__image {
				margin-top: 86px;

				@include max(md) {
					margin-top: 61px;
				}
			}
		}

		&--3 {
			border-bottom: 0;
			padding-bottom: 62px;

			.products-item__image {
				margin-top: 7px;
				margin-right: -32px;

				@include min(xxl) {
					margin-right: 0;
				}

				@include max(lg) {
					margin-right: 0;
				}

				@include max(md) {
					margin-top: 2px;
					margin-right: 0;
					padding: 0 20px;
				}
			}
		}
	}

	&__all {
		margin-bottom: 154px;
		@include max(md) {
			width: calc(100% + 30px);
			margin: 0 -15px;
			margin-bottom: 65px;
		}
	}
}