.products-item {
	position: relative;
	margin-right: vw(-105);
	border-bottom: 1px solid rgba($green-lemon, 0.12);
	padding-bottom: 92px;

	@include max(md) {
		margin-right: 0;
		border-bottom: 0;
		padding-bottom: 2px;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__icon {
		fill: $green;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

		@include min(xxl) {
			justify-content: flex-start;
		}

		@include max(md) {
			flex-direction: column;
		}
	}

	&__title {
		max-width: 289px;
		font-size: 32px;
		line-height: 37px;
		font-weight: 700;
		margin-top: 21px;
		margin-left: -3px;

		@include max(md) {
			max-width: 100%;
			margin-left: 0;
		}
	}

	&__image {
		margin-left: vw(-363);
		margin-top: 46px;
		pointer-events: none;

		@include min(xxl) {
			margin-left: 0;
		}

		@include max(md) {
			margin-left: -15px;
			margin-right: -15px;
			margin-top: 50px;
		}

		img {
			margin-left: auto;

			@include min(xxl) {
				margin-left: 0;
			}
		}
	}

	&__bg-text {
		width: 100%;
		font-size: 222px;
		line-height: 255px;
		font-weight: 700;
		color: rgba($textMainColor, 0.02);
		white-space: nowrap;
		position: absolute;
		left: 0;
		top: 60px;
		overflow: hidden;
		pointer-events: none;

		span {
			position: relative;
			left: 0;
		}
	}
}