.project-single {
	$parent: &;

	position: relative;
	overflow: hidden;

	&__container {
		padding-top: 32px;
		padding-bottom: 80px;

		@include max(sm) {
			padding-bottom: 32px;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		position: relative;
		min-height: 486px;
		margin-top: 32px;

		@include max(md) {
			flex-direction: column;
			min-height: auto;
		}
	}

	&__image {
		width: 66.5%;
		height: 486px;
		position: absolute;
		right: vw(-105);

		@include max(md) {
			width: calc(100% + 60px);
			height: 400px;
			margin-top: 30px;
			position: relative;
			left: -15px;
			order: 1;
		}

		@include max(sm) {
			height: 300px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__about {
		width: 36%;

		@include max(md) {
			width: 100%;
		}
	}

	&__about-item {
		+ #{$parent}__about-item {
			margin-top: 38px;

			@include max(sm) {
				margin-top: 15px;
			}
		}

		p {
			&:first-child {
				font-size: 22px;
				line-height: 27px;
				font-weight: 500;
			}

			&:last-child {
				font-size: 16px;
				line-height: 21px;
				color: rgba($textMainColor, 0.64);
				margin-top: 7px;

				@include max(sm) {
					margin-top: 0;
				}
			}
		}
	}

	&__tags {
		margin-top: 34px;

		@include max(sm) {
			margin-top: 20px;
		}
	}

	&__quote {
		margin-top: 64px;

		@include max(md) {
			margin-top: 0;
		}
	}

	&__tabs {
		margin-top: 64px;

		@include max(md) {
			margin-top: 50px;
		}

		@include max(sm) {
			margin-top: 30px;
		}
	}

	&__nav {
		margin-top: 65px;

		@include max(sm) {
			margin-top: 40px;
		}
	}

	&__slider {
		margin-top: 52px;

		@include max(sm) {
			margin-top: 30px;
		}
	}

	&__slide {
		height: 468px;

		@include max(sm) {
			height: 300px;
		}

		iframe {
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		margin-top: 128px;

		@include max(md) {
			margin-top: 80px;
		}

		@include max(sm) {
			margin-top: 50px;
		}
	}

	&__content-title {
		font-size: 32px;
		line-height: 36px;
		font-weight: 700;

		@include max(sm) {
			font-size: 26px;
			line-height: 30px;
		}
	}

	&__content-text {
		max-width: 837px;
		font-size: 18px;
		line-height: 32px;
		font-weight: 300;
		margin-top: 30px;

		@include max(sm) {
			font-size: 16px;
			line-height: 22px;
			margin-top: 15px;
		}

		p + p {
			margin-top: 32px;

			@include max(sm) {
				margin-top: 10px;
			}
		}
	}

	&__pic-slider {
		margin-top: 53px;

		@include max(sm) {
			margin-top: 40px;
		}
	}

	&__pic-slide {
		height: 468px;

		@include max(sm) {
			height: 300px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__pic-nav {
		margin-top: 91px;

		@include max(md) {
			margin-top: 80px;
		}

		@include max(sm) {
			margin-top: 40px;
		}
	}
}