.breadcrumbs {
	$parent: &;

	display: flex;
	flex-wrap: wrap;

	li {
		font-size: 13px;
		line-height: 16px;
		font-weight: 700;
		text-transform: uppercase;

		@include hover {
			text-decoration: underline;
		}

		svg {
			fill: $textMainColor;
			margin: 0 12px;
		}
	}

	&__link {
		&--active {
			color: rgba($black, 0.2);
		}
	}
}