
.cutom-inp {
	display: inline-block;

	&__field {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 89px;
		padding: 33px 22px;
		background: #1F231E;
		color: #F0F0ED;
		font-weight: 300;
		font-size: 16px;
		line-height: 22px;

		&::placeholder {
			color: rgba(255, 255, 255, 0.64);
		}
	}
}
