.filter {
	$parent: &;

	overflow: auto;


	@include max(md) {
		margin-right: -15px;
		margin-left: -15px;
		padding: 0 15px;
	}

	&__inner{
		display: flex;
		flex-wrap: nowrap;
		border: 1px solid $black-33;
		background-color: $black-15;
		border-radius: 100px;
		padding: 13px 1px 10px;
		width: max-content;
	}

	&__item{
		padding: 0 12px;
	}

	&__button {
		font-size: 16px;
		line-height: 19px;
		font-weight: 500;
		text-align: left;
		color: $white-op-0-32;
		border-radius: 100px;
		padding: 11px 24px;
		cursor: pointer;
		transition: color 0.3s ease, background-color 0.3s ease;
		white-space: nowrap;

		@include hover {
			color: $white;
			background-color: $green;
		}

		&:not(:last-child) {
			margin-right: 3px;
		}

		&--active {
			color: $white;
			background-color: $green;
		}
	}
	/*
	&--wide {
		#{$parent}__inner {
			padding: 13px 19px 10px 2px;
		}


		#{$parent} {
			&__button {
				padding: 11px 29px;
			}
		}
	}*/
}
.filter-scroller {
	position: relative;
	display: flex;
	justify-content: flex-end;
	margin-bottom: -19px;
  margin-top: 47px;
}