.filter {
	$parent: &;

	display: flex;
	flex-wrap: wrap;
	border: 1px solid $black-33;
	background-color: $black-15;
	border-radius: 100px;
	padding: 13px 6px 0;

	@include max(md) {
		border-radius: 5px;
	}

	&__button {
		font-size: 16px;
		line-height: 19px;
		font-weight: 500;
		text-align: left;
		color: rgba($white, 0.32);
		border-radius: 100px;
		padding: 11px 23px;
		margin-bottom: 10px;
		cursor: pointer;
		transition: color 0.3s ease, background-color 0.3s ease;

		@include hover {
			color: $white;
			background-color: $green;
		}

		&:not(:last-child) {
			margin-right: 3px;
		}

		&--active {
			color: $white;
			background-color: $green;
		}
	}

	&--wide {
		padding: 13px 31px 0 14px;

		#{$parent} {
			&__button {
				padding: 11px 29px;
			}
		}
	}
}