.header {
	$parent: &;

	background-color: $dunkl;
	transition: background-color .3s;
	padding: 57px 0;
	position: relative;
	z-index: 100;

	@include max(md) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 13px 30px 7px 17px;

	}


	&__container,
	&__container,
	&__login,
	&__theme,
	&__theme-switcher {
		display: flex;
		align-items: center;
	}

	&__container {
		padding-right: 18px;

		@include max(md) {
			display: block;
			left: 0;
			width: 100%;
			position: absolute;
			top: 100%;
			background-color: var(--dunkl);
			height: calc(100vh - 100%);
			height: calc(var(--vh) * 100 - 100%);
			padding: 77px 18px 30px;
			margin: 0;
			overflow: auto;
			opacity: 0;
			pointer-events: none;
			transition-duration: .3s;

			&--mob-opened{
				opacity: 1;
				pointer-events: all;
			}
		}

	}

	&__logo {
		display: block;
		padding: 15px 0;
		margin-right: auto;
		position: absolute;
		top: 50%;
		left: 127px;
		z-index: 3;
		transform: translateY(-50%);

		svg {
			fill: $logo-color;
		}

		@include max(md) {
			display: block;
			position: static;
			transform: none;
			padding: 0;

		}
	}

	&__login {
		font-size: 16px;
		line-height: 18px;
		font-weight: 700;
		position: relative;
		z-index: 1;
		margin-left: auto;
		transition: color 0.3s ease;

		@include max(md) {
			margin-top: 39px;
		}

		@include hover {
			color: $green-lemon;

			svg {
				stroke: $green-lemon;
			}
		}

		svg {
			stroke: $textMainColor;
			stroke-width: 3px;
			margin-right: 8px;
			transition: stroke 0.3s ease;
		}
	}

	&__theme {
		margin-left: 55px;
		position: relative;
		z-index: 1;

		@include max(md) {
			margin-left: 0;
			margin-top: 39px;
		}
	}

	&__theme-switcher {
		opacity: 0.32;
		cursor: pointer;
		transition-duration: .3s;

		+#{$parent}__theme-switcher {
			margin-left: 13px;

			@include max(md) {
				margin-left: 42px;
			}
		}

		svg {
			fill: $textMainColor;
		}

		&.active {
			opacity: 1;
		}
	}
}


.sh-burger {
	z-index: 105;
	width: 19px;
	height: 19px;
	cursor: pointer;
	position: relative;
	transition-duration: .2s;
	display: none;

	@include max(md) {

		display: block;
	}

	span,
	span::before,
	span::after {
		position: absolute;
		top: 50%;
		right: 50%;
		width: 19px;
		height: 4px;
		margin-top: -1px;
		margin-right: -10px;
		background-color: $white;
	}

	span {
		height: 0px;
	}

	span::before,
	span::after {
		content: '';
		transition: 0.2s;
	}

	span::before {
		transform: translateY(-8px);
	}

	span::after {
		transform: translateY(2px);
		width: 15px;
	}

	&--active {
		span {
			&::before {
				transform: translateY(-2px) rotate(45deg);
			}

			&::after {
				transform: translateY(-2px) rotate(-45deg);
				width: 19px;
			}
		}
	}

	&__size-expander {
		position: absolute;
		left: -10px;
		top: -10px;
		width: calc(100% + 20px);
		height: calc(100% + 20px);
		//background: rgba(255, 0, 0, 0.397);
	}
}