html {
}

body {
	font-size: 16px;
	font-weight: 400;
	font-family: $mainFont;
	color: $textMainColor;
	background-color: $black-15;
}

a {
	text-decoration: none;
	color: $textMainColor;
}

ul,
ol,
nav {
	list-style: none;
	padding: 0;
}

input,
button {
	-webkit-appearance: none;
}

input,
button,
select,
textarea {
	font: inherit;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	outline: 0;
	padding: 0;
	margin: 0;
}

input,
textarea {
	&::placeholder {
		font-family: $mainFont;
	}

	&:focus::placeholder {
		opacity: 0;
	}
}

.container {
	max-width: 100%;
	margin: 0 vw(105) 0 vw(363);

	@include max(md) {
		padding: 0 15px;
		margin: 0;
	}

	&--small {
		width: 833px;
		margin: 0;
		padding: 0;

		@include min(xxl) {
			width: 100%;
			padding-right: vw(105);
		}

		@include max(lg) {
			padding-right: 15px;
		}

		@include max(md) {
			padding-right: 0;
		}
	}

	&--border {
		border-left: 1px solid rgba($green-lemon, 0.12);
		position: relative;

		&::before {
			content: '';
			display: block;
			width: 1px;
			height: 100%;
			background-color: rgba($green-lemon, 0.12);
			position: absolute;
			top: 0;
			left: 37.5%;
		}
	}
}

.body-scroll-lock {
	overflow: hidden;
}
