.socials {
	$parent: &;

	display: flex;
	flex-wrap: wrap;

	@include max(md) {
		justify-content: center;
	}

	&__item {
		width: 30px;
		height: 30px;
		margin: 8px 0;

		@include hover {
			svg {
				fill: $white;
			}
		}

		&:not(:last-child) {
			margin-right: 20px;

			@include max(md) {
				margin-right: 48px;
			}
		}

		svg {
			fill: $white-op-0-32;
			transition: fill 0.3s ease;
		}
	}
}