.title-block {
	font-size: 54px;
	line-height: 62px;
	font-weight: 700;
	margin-left: -4px;

	@include max(md) {
		font-size: 32px;
		line-height: 37px;
		margin-left: 0;
	}

	&--big {
		font-size: 66px;
		line-height: 66px;
		margin-left: -2px;

		@include max(md) {
			font-size: 32px;
			line-height: 37px;
			margin-left: 0;
		}
	}
	&--default-mt{
		margin-top: 129px;
	}
}