mixin filter(button, className)
    .filter(class=className)
        .filter__inner
            each item in button
                .filter__item
                    button.filter__button(class= item.class ? item.class : '', data-filter= item.data)!= item.text