mixin slider-nav(title, className)
	.slider-nav(class=className)
		+title-block(title, 'slider-nav__title')
		.slider-nav__nav
			+button('', 'slider-nav__button slider-nav__button--prev', '', 'chevron-left', '13', '20')
			.slider-nav__pagi
			+button('', 'slider-nav__button slider-nav__button--next', '', 'chevron-right', '13', '20')