extends ../layouts/default

block vars
	-
		const page = {
			title: 'Программное обеспечение для автомобильных и жд весов'
		};

block main
	article.employees
		.employees__pattern
			.pattern
				.pattern__inner
					include ../../images/pattern.svg
					include ../../images/pattern.svg
					include ../../images/pattern.svg


			.container.container--border.employees__container.employees__container--top
				.employees__top
					.employees__video
						a.employees__video-preview(href='https://www.youtube.com/embed/tEPB7uzKuh4', data-rel='media')
							img(src='images/employees/video.jpg', srcset='images/employees/video@2x.jpg 2x', alt='')
							+button('', 'button--bordered employees__play', '', 'play', '23', '26')
						//iframe(src="https://www.youtube.com/embed/tEPB7uzKuh4" frameborder="0" allowfullscreen)
					.employees__about-us
						+title-block('О компании <br> NAIS', 'title-block--big about-company__title')
						p ООО «Новые автоматизированные измерительные системы» - сокращенно ООО «НАИС» <br> С 1998 года мы разрабатываем, производим и устанавливаем промышленные автомобильные и вагонные весы торговой марки NAIS для различных отраслей промышленности и сельского хозяйства. <br> Наша цель – помогать людям получать достоверные данные для эффективного управления бизнесом.


				.container.container--small.employees__container.employees__container--management-1
					+title-block('История компании', '')

				.company-history-container
					.company-history
						.com-hist-item
							.com-hist-item__picture
								img(src="images/about-comp/1.jpg", alt="")
							.com-hist-item__info
								.com-hist-item__icon
									img(src="images/about-comp/icons/1.svg", alt="")
								.com-hist-item__info-text
									.com-hist-item__date 1998
									.com-hist-item__desc Создана компания

						.com-hist-item
							.com-hist-item__picture
								img(src="images/about-comp/2.jpg", alt="")
							.com-hist-item__info
								.com-hist-item__icon
									img(src="images/about-comp/icons/2.svg", alt="")
								.com-hist-item__info-text
									.com-hist-item__date 2000
									.com-hist-item__desc Сертифицированы продукты компании

						.com-hist-item
							.com-hist-item__picture
								img(src="images/about-comp/3.jpg", alt="")
							.com-hist-item__info
								.com-hist-item__icon
									img(src="images/about-comp/icons/3.svg", alt="")
								.com-hist-item__info-text
									.com-hist-item__date 2003
									.com-hist-item__desc Приобретены собственные  <br> производственные площади <br> 0,67 га. Внедрены критерии <br>  качества продукции. <br>  Внедрена CRM

						.com-hist-item
							.com-hist-item__picture
								img(src="images/about-comp/4.jpg", alt="")
							.com-hist-item__info
								.com-hist-item__icon
									img(src="images/about-comp/icons/4.svg", alt="")
								.com-hist-item__info-text
									.com-hist-item__date 2005
									.com-hist-item__desc Разработаны первые в России цифровые весы. <br> Колейные весы вощли в “100 лучших товаров России”. Разработано ПО “Весовая”. <br> Получена аккредитация на право поверки.

						.com-hist-item
							.com-hist-item__picture
								img(src="images/about-comp/5.jpg", alt="")
							.com-hist-item__info
								.com-hist-item__icon
									img(src="images/about-comp/icons/5.svg", alt="")
								.com-hist-item__info-text
									.com-hist-item__date 2010
									.com-hist-item__desc Сформирован отдел <br>  капитального строительства. <br>  Сформирован автопарк.  <br> Начали экспорт продукции в <br>  6 стран.

						.com-hist-item
							.com-hist-item__picture
								img(src="images/about-comp/6.jpg", alt="")
							.com-hist-item__info
								.com-hist-item__icon
									img(src="images/about-comp/icons/6.svg", alt="")
								.com-hist-item__info-text
									.com-hist-item__date 2015
									.com-hist-item__desc Впервые в России разработана технология <br>  быстрой установки весов на сборно-блочный <br>  фундамент

						.com-hist-item
							.com-hist-item__picture
								img(src="images/about-comp/7.jpg", alt="")
							.com-hist-item__info
								.com-hist-item__icon
									img(src="images/about-comp/icons/7.svg", alt="")
								.com-hist-item__info-text
									.com-hist-item__date 2020
									.com-hist-item__desc Произведена <br>  модернизация <br>  производства

				.container.container--small.employees__container.chyst-container-1
					.title-l2 Полный цикл
					.simple-text.simple-text--chyst
						p Мы обеспечиваем полный цикл производства – от проекта до его реализации на вашем объекте . Все конструктивные детали весовых комплексов и программное обеспечение для автоматизации взвешивания мы производим самостоятельно.

						p Это значит, что мы полностью управляем качеством продукта, сроками выполнения и несем ответственность за результат.

					.chyst-cycle
						.chyst-cycle-item
							.chyst-cycle-item__icon
								img(src="images/about-comp/icons/cycle/1.svg", alt="")
							.chyst-cycle-item__name Проектирование

						.chyst-cycle-item
							.chyst-cycle-item__icon
								img(src="images/about-comp/icons/cycle/2.svg", alt="")
							.chyst-cycle-item__name Производство весов

						.chyst-cycle-item
							.chyst-cycle-item__icon
								img(src="images/about-comp/icons/cycle/3.svg", alt="")
							.chyst-cycle-item__name Строительство фундамента

						.chyst-cycle-item
							.chyst-cycle-item__icon
								img(src="images/about-comp/icons/cycle/4.svg", alt="")
							.chyst-cycle-item__name Монтаж и пусконаладочные работы

						.chyst-cycle-item
							.chyst-cycle-item__icon
								img(src="images/about-comp/icons/cycle/5.svg", alt="")
							.chyst-cycle-item__name Гарантийное обслуживание и поддержка


						.chyst-cycle-item
							.chyst-cycle-item__icon
								img(src="images/about-comp/icons/cycle/6.svg", alt="")
							.chyst-cycle-item__name Автоматизация взвешивания

					.title-l2.title-l2--chyst Качество
					.simple-text.simple-text--chyst
						p Автомобильные и вагонные весы НАИС соответствуют ГОСТ OIML R 76-1-2011 и гарантированно сохраняют свои метрологические характеристики на протяжении всего срока службы благодаря контролю качества на всех этапах.
						p Мы всегда с Вами на связи – наши весы подключены к онлайн чату техподдержки в ПО Весовая 5.0

					.chyst-quality
						.chyst-quality-item
							.chyst-quality-item__number 01
							.chyst-quality-item__name Непрерывный контроль
							.chyst-quality-item__desc На всех этапах производства и <br>  даже после продажи.  В нашей <br>  базе хранятся сервисные <br>  журналы на все установленные и обслуживаемые весы.

						.chyst-quality-item
							.chyst-quality-item__number 02
							.chyst-quality-item__name Входной контроль
							.chyst-quality-item__desc Все сырье, поступающее на производство, проверяется на соответствие характеристикам, заявленным производителем

						.chyst-quality-item
							.chyst-quality-item__number 03
							.chyst-quality-item__name Тестирование электроники
							.chyst-quality-item__desc Все электронные компоненты проходят обязательные <br> испытания на специальном <br>  стенде, вырабатывая <br>  необходимое количество часов.

						.chyst-quality-item
							.chyst-quality-item__number 04
							.chyst-quality-item__name Тестирование железобетонных блоков фундамента
							.chyst-quality-item__desc Проводится ударно-импульсным методом, что не вредит <br> конструкции и сохраняет ее эксплуатационные  <br> характеристсики

					.chyst-quote
						p Все конструктивные детали и комплектующие мы производим самостоятельно.
						p Мы учитываем пожелания наших покупателей по оснащению оборудования – на сегодняшний день 98% наших весов комплектуются тензометрическими датчиками нашего партнера Hottinger Baldwin Messtechnik (HBM), Германия.



				.container.container--small
					+slider-nav('Свидетельства:', 'article-single__certs-nav')
					.article-single__certs-slider.swiper.__js_slider-article-certs
						.swiper-wrapper
							.article-single__certs-slide.swiper-slide
								img(src='images/certs/1.jpg', srcset='images/certs/1@2x.jpg 2x', alt='')
							.article-single__certs-slide.swiper-slide
								img(src='images/certs/2.jpg', srcset='images/certs/2@2x.jpg 2x', alt='')
							.article-single__certs-slide.swiper-slide
								img(src='images/certs/3.jpg', srcset='images/certs/3@2x.jpg 2x', alt='')
							.article-single__certs-slide.swiper-slide
								img(src='images/certs/4.jpg', srcset='images/certs/4@2x.jpg 2x', alt='')
							.article-single__certs-slide.swiper-slide
								img(src='images/certs/1.jpg', srcset='images/certs/1@2x.jpg 2x', alt='')
							.article-single__certs-slide.swiper-slide
								img(src='images/certs/2.jpg', srcset='images/certs/2@2x.jpg 2x', alt='')

				.standarts-section
					.container.container--small

						+title-block('Соблюдаем стандарты и акты:', '')
						.standarts
							.standarts-item
								.standarts-item__pic
									img(src="images/gosreestr.png", alt="")
								.standarts-item__title ГОСТ OIML R 76-1-2011
								.standarts-item__desc Государственная система обеспечения единства измерений (ГСИ). Весы неавтоматического действия. Часть 1. Метрологические и технические требования. Испытания
							.standarts-item
								.standarts-item__pic
									img(src="images/gosreestr.png", alt="")
								a.standarts-item__title(href="")  Приказ Министерства промышленной торговли Российской Федерации
								.standarts-item__desc Об утверждении Порядка проведения поверки средств измерений, требования к знаку поверки и содержанию свидетельства о поверке
							.standarts-item
								.standarts-item__pic
									img(src="images/gosreestr.png", alt="")
								.standarts-item__title ГОСТ OIML R 76-1-2011
								.standarts-item__desc Государственная система обеспечения единства измерений (ГСИ). Весы неавтоматического действия. Часть 1. Метрологические и технические требования. Испытания
							.standarts-item
								.standarts-item__pic
									img(src="images/gosreestr.png", alt="")
								.standarts-item__title Приказ Министерства промышленной торговли Российской Федерации
								.standarts-item__desc Об утверждении Порядка проведения поверки средств измерений, требования к знаку поверки и содержанию свидетельства о поверке