extends ../layouts/default

block vars
	-
		const page = {
			title: 'Статья'
		};

block main
	article.article-single
		.pattern
			.pattern__inner
				include ../../images/pattern.svg
				include ../../images/pattern.svg
				include ../../images/pattern.svg

		.container.container--border.article-single__container
			+title-block('Заголовок новости или услуги, <br> или странички продукта ПО', 'article-single__title')
			.article-single__row
				.article-single__image
					img(src='images/article/poster.jpg', srcset='images/article/poster@2x.jpg 2x', alt='')
				.article-single__about-us
					p Мы – команда, которая создаёт уникальные продукты для точного измерения веса больших грузов.
					p Качественные и надежные весы, установленные точно в срок с компетентной и оперативной сервисной поддержкой – это к нам!
			+quote('Повседневная практика показывает, что новая модель организационной деятельности обеспечивает ' +
			'широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. ' +
			'Не следует, однако забывать, что консультация с широким активом позволяет оценить [значение] позиций, занимаемых ' +
			'участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что укрепление и развитие ' +
			'структуры в значительной степени обуславливает создание существенных финансовых и административных условий. ' +
			'Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции способствует ' +
			'подготовки и реализации соответствующий условий активизации.', 'article-single__quote')
			+tabs(
				[
					'Частных загородных домов.',
					'Офисов крупных корпораций.',
					'Различных банков.',
					'Элитных отелей.'
				],
				'article-single__tabs'
			)
			.container.container--small
				+slider-nav('Заголовок', 'article-single__nav')
			.article-single__slider.swiper.__js_slider-article
				.swiper-wrapper
					.article-single__slide.swiper-slide
						img(src='images/article/slide.jpg', srcset='images/article/slide@2x.jpg 2x', alt='')
					.article-single__slide.swiper-slide
						img(src='images/article/slide.jpg', srcset='images/article/slide@2x.jpg 2x', alt='')
					.article-single__slide.swiper-slide
						img(src='images/article/slide.jpg', srcset='images/article/slide@2x.jpg 2x', alt='')
			.article-single__content
				.article-single__content-title Строительство и установка вагонных весов НАИС
				.article-single__content-text
					p Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому
						|  кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных
						|  задач. Не следует, однако забывать, что консультация с широким активом позволяет оценить значение позиций,
						|  занимаемых участниками в отношении поставленных задач.
					p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры в значительной степени
						|  обуславливает создание существенных финансовых и административных условий. Значимость этих проблем настолько
						|  очевидна, что начало повседневной работы по формированию позиции способствует подготовки и реализации
						|  соответствующий условий активизации.
			table.article-single__table
				thead
					tr
						th Наименование
						th Класс <br> точности
						th Размер
						th Форма
						th Материал
						th Назначение
				tbody
					tr
						td ВАТ-30-6-3-1
						td 30
						td 100
						td 24
						td 4
						td ВАТ-30-6-3-1
					tr
						td ВАТ-30-6-3-1
						td 30
						td 100
						td 24
						td 4
						td ВАТ-30-6-3-1
					tr
						td ВАТ-30-6-3-1
						td 30
						td 100
						td 24
						td 4
						td ВАТ-30-6-3-1
					tr
						td ВАТ-30-6-3-1
						td 30
						td 100
						td 24
						td 4
						td ВАТ-30-6-3-1
					tr
						td ВАТ-30-6-3-1
						td 30
						td 100
						td 24
						td 4
						td ВАТ-30-6-3-1
			.container.container--small
				+slider-nav('Свидетельства:', 'article-single__certs-nav')
				.article-single__certs-slider.swiper.__js_slider-article-certs
					.swiper-wrapper
						.article-single__certs-slide.swiper-slide
							img(src='images/certs/1.jpg', srcset='images/certs/1@2x.jpg 2x', alt='')
						.article-single__certs-slide.swiper-slide
							img(src='images/certs/2.jpg', srcset='images/certs/2@2x.jpg 2x', alt='')
						.article-single__certs-slide.swiper-slide
							img(src='images/certs/3.jpg', srcset='images/certs/3@2x.jpg 2x', alt='')
						.article-single__certs-slide.swiper-slide
							img(src='images/certs/4.jpg', srcset='images/certs/4@2x.jpg 2x', alt='')
						.article-single__certs-slide.swiper-slide
							img(src='images/certs/1.jpg', srcset='images/certs/1@2x.jpg 2x', alt='')
						.article-single__certs-slide.swiper-slide
							img(src='images/certs/2.jpg', srcset='images/certs/2@2x.jpg 2x', alt='')
				.article-single__bottom-nav
					+button('Получить консультацию', 'button--square article-single__consult-btn', '#', 'chevron-right', '13', '20')
					a.article-single__back(href='#')
						+icon('chevron-left')(width='13', height='20')
						span Все статьи
