extends ../layouts/default

block vars
	-
		const page = {
			title: 'Статьи'
		};

block main
	article.articles-page
		.pattern
			.pattern__inner
				include ../../images/pattern.svg
				include ../../images/pattern.svg
				include ../../images/pattern.svg

		.container.container--border.articles-page__container
			.container.container--small
				+title-block('Статьи', 'title-block--big articles-page__title')
				+filter([
					{
						text: 'Все',
						class: 'filter__button--active',
						data: '*'
					},
					{
						text: 'Новости',
						data: '.js-filter-news'
					},
					{
						text: 'Проекты',
						data: '.js-filter-projects'
					},
					{
						text: 'Выступления',
						data: '.js-filter-speeches'
					},
					{
						text: 'Выставки',
						data: '.js-filter-show'
					},
					{
						text: 'Пресс-релизы',
						data: '.js-filter-release'
					},
					{
						text: 'СМИ',
						data: '.js-filter-smi'
					}
				], 'articles-page__filter')
				.articles-page__articles
					a.articles-card.articles-page__item.js-filter-news.js-filter-smi(href='#', target='_blank')
						figure
							.articles-card__left
								.articles-card__title Строительство нуждается в стандартизации применения алюминия
								.articles-card__text Алюминиевая Ассоциация выступила с инициативой стандартизации нормативных
									|  документов, регулирующих вопросы применения алюминия и алюминиевых сплав...
								+tags(['Автовесы', 'Вагонные весы'])
							.articles-card__right
								.articles-card__image
									img(src='images/articles/1.jpg', srcset='images/articles/1@2x.jpg 2x', alt='')
								.articles-card__date 31.03.2021
					a.articles-card.articles-page__item.js-filter-show(href='#', target='_blank')
						figure
							.articles-card__left
								.articles-card__title Строительство нуждается в стандартизации применения алюминия
								.articles-card__text Алюминиевая Ассоциация выступила с инициативой стандартизации нормативных
									|  документов, регулирующих вопросы применения алюминия и алюминиевых сплав...
								+tags(['Автовесы', 'Вагонные весы'])
							.articles-card__right
								.articles-card__image
									img(src='images/articles/2.jpg', srcset='images/articles/2@2x.jpg 2x', alt='')
								.articles-card__date 31.03.2021
					a.articles-card.articles-page__item.js-filter-smi.js-filter-projects(href='#', target='_blank')
						figure
							.articles-card__left
								.articles-card__title Строительство нуждается в стандартизации применения алюминия
								.articles-card__text Алюминиевая Ассоциация выступила с инициативой стандартизации нормативных
									|  документов, регулирующих вопросы применения алюминия и алюминиевых сплав...
								+tags(['Автовесы', 'Вагонные весы'])
							.articles-card__right
								.articles-card__image
									img(src='images/articles/3.jpg', srcset='images/articles/3@2x.jpg 2x', alt='')
								.articles-card__date 31.03.2021
					a.articles-card.articles-page__item.js-filter-news.js-filter-show.js-filter-projects(href='#', target='_blank')
						figure
							.articles-card__left
								.articles-card__title Строительство нуждается в стандартизации применения алюминия
								.articles-card__text Алюминиевая Ассоциация выступила с инициативой стандартизации нормативных
									|  документов, регулирующих вопросы применения алюминия и алюминиевых сплав...
								+tags(['Автовесы', 'Вагонные весы'])
							.articles-card__right
								.articles-card__image
									img(src='images/articles/4.jpg', srcset='images/articles/4@2x.jpg 2x', alt='')
								.articles-card__date 31.03.2021
					a.articles-card.articles-page__item.js-filter-smi.js-filter-release(href='#', target='_blank')
						figure
							.articles-card__left
								.articles-card__title Строительство нуждается в стандартизации применения алюминия
								.articles-card__text Алюминиевая Ассоциация выступила с инициативой стандартизации нормативных
									|  документов, регулирующих вопросы применения алюминия и алюминиевых сплав...
								+tags(['Автовесы', 'Вагонные весы'])
							.articles-card__right
								.articles-card__image
									img(src='images/articles/5.jpg', srcset='images/articles/5@2x.jpg 2x', alt='')
								.articles-card__date 31.03.2021
