extends ../layouts/default

block vars
	-
		const page = {
			title: 'Контакты'
		};

block main
	article.contacts
		.pattern
			.pattern__inner
				include ../../images/pattern.svg
				include ../../images/pattern.svg
				include ../../images/pattern.svg

		.container.container--border.contacts__container.contacts__container--top
			+title-block('Контакты', 'title-block--big contacts__title')
			+filter([
				{
					text: 'Отдел продаж',
					class: 'filter__button--active'
				},
				{
					text: 'Сервисная служба'
				},
				{
					text: 'Отдел кадров'
				},
				{
					text: 'По общим вопросам'
				}
			], 'contacts__tabs')
			.contacts__content
				.contacts__content-item(style='display: block;')
					.contacts__row
						.contacts__col
							.contacts__info
								p
									a(href='tel:88005508136') 8 (800) 550-81-36
								p Контактный телефон
							.contacts__info
								p
									a(href='mailto:sale.nais@yandex.ru') sale.nais@yandex.ru
								p E-mail
						.contacts__col
							.contacts__info
								p Время работы
								p Пн. – Пт.: с 8-00 до 16-45 (время  московское),
							+button('Скачать реквизиты', 'button--square contacts__download', '#', 'file', '16', '21')
				.contacts__content-item
					.contacts__row
						.contacts__col
							.contacts__info
								p
									a(href='tel:88005506352') 8 (800) 550-63-52
								p Единая сервисная служба
							.contacts__info
								p
									a(href='tel:88005508632') 8 (800) 550-86-32
								p Метрологическая служба:
							.contacts__info
								p
									a(href='tel:88005556913') 8 (800) 555-69-13
								p Техническая поддержка ПО («НАИС ИНТЕХ»):
						.contacts__col
							.contacts__info
								p Время работы
								p Пн. – Пт.: с 8-00 до 16-45 (время  московское),
							+button('Скачать реквизиты', 'button--square contacts__download', '#', 'file', '16', '21')
				.contacts__content-item
					.contacts__row
						.contacts__col
							.contacts__info
								p
									a(href='tel:89188972900') 8 (918) 897-29-00
								p Контактный телефон
							.contacts__info
								p
									a(href='mailto:vorozhtsova.a@nais.ru') vorozhtsova.a@nais.ru
								p E-mail
						.contacts__col
							.contacts__info
								p Время работы
								p Пн. – Пт.: с 8-00 до 16-45 (время  московское),
							+button('Скачать реквизиты', 'button--square contacts__download', '#', 'file', '16', '21')
				.contacts__content-item
					.contacts__row
						.contacts__col
							.contacts__info
								p
									a(href='tel:88632658270') 8 (863) 265-82-70
								p Контактный телефон
							.contacts__info
								p
									a(href='mailto:mail@nais.ru') mail@nais.ru
								p E-mail
						.contacts__col
							.contacts__info
								p Время работы
								p Пн. – Пт.: с 8-00 до 16-45 (время  московское),
		.contacts__map-block
			.container.contacts__container.contacts__container--map
				.contacts__row.contacts__row--map
					.contacts__col
						.contacts__address
							+icon('place')(width='32', height='32')
							.contacts__address-group
								p Краснодар
								address 350072, г. Краснодар, ул. Московская, 80
						.contacts__address
							+icon('place')(width='32', height='32')
							.contacts__address-group
								p Москва
								address 117342 , г. Москва, ул. Профсоюзная, 73, офис №6
						.contacts__address
							+icon('place')(width='32', height='32')
							.contacts__address-group
								p Ростов-на-Дону
								address 344002, г. Ростов-на-Дону, ул. Шоссейная, 47 «В»
					.contacts__col
						#map-contacts
							img(src="images/map__contacts.jpg")
		.container.container--border.contacts__container.contacts__container--bottom
			.contacts__dealers Дилеры:
			.contacts__row.contacts__row--dealers
				.contacts__col
					.contacts__address
						+icon('place')(width='32', height='32')
						.contacts__address-group
							p НАИС-Волга
							address г.Волгоград <br> (8442) 26-62-81
				.contacts__col
					.contacts__address
						+icon('place')(width='32', height='32')
						.contacts__address-group
							p НАИС-Волга
							address г.Волгоград <br> (8442) 26-62-81
