extends ../layouts/default

block vars
	-
		const page = {
			title: 'Сотрудники'
		};

block main
	article.employees
		.employees__pattern
			.pattern
				.pattern__inner
					include ../../images/pattern.svg
					include ../../images/pattern.svg
					include ../../images/pattern.svg


			.container.container--border.employees__container.employees__container--top
				.employees__top
					.employees__video
						a.employees__video-preview(href='https://www.youtube.com/embed/tEPB7uzKuh4', data-fancybox)
							img(src='images/employees/video.jpg', srcset='images/employees/video@2x.jpg 2x', alt='')
							+button('', 'button--bordered employees__play', '', 'play', '23', '26')
						//iframe(src="https://www.youtube.com/embed/tEPB7uzKuh4" frameborder="0" allowfullscreen)
					.employees__about-us
						+title-block('Сотрудники', 'title-block--big employees__title')
						p Мы – команда, которая создаёт уникальные продукты для точного измерения веса больших грузов. <br>
							| Качественные и надежные весы, установленные точно в срок с компетентной и оперативной сервисной поддержкой – это к нам!

				.container.container--small.employees__container.employees__container--management-1
					+title-block('Руководство', '')
					.employees__management
						.employees-card.employees__item
							.employees-card__image
								img(src='images/employees/1.jpg', srcset='images/employees/1@2x.jpg 2x', alt='')
							.employees-card__content
								.employees-card__info
									p Морозов Вячеслав
									p Генеральный директор
						.employees-card.employees__item
							.employees-card__image
								img(src='images/employees/2.jpg', srcset='images/employees/2@2x.jpg 2x', alt='')
							.employees-card__content
								.employees-card__info
									p Немченко Анатолий
									p Директор по производству
						.employees-card.employees__item
							.employees-card__image
								img(src='images/employees/3.jpg', srcset='images/employees/3@2x.jpg 2x', alt='')
							.employees-card__content
								.employees-card__info
									p Баркина Анастасия
									p Директор по развитию
						.employees-card.employees__item
							.employees-card__image
								img(src='images/employees/4.jpg', srcset='images/employees/4@2x.jpg 2x', alt='')
							.employees-card__content
								.employees-card__info
									p Карейша Дмитрий
									p Технический директор


		.container.container--border.employees__container.employees__container--management-2
			.employees__management-2
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/5.jpg', srcset='images/employees/5@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Яковенко Анатолий
							p Руководитель отдела продаж
						.employees-card__bottom
							.employees-card__text Отдел продаж помогает подобрать <br> оборудование для решения Ваших задач
							+tags(['Отдел продаж'], 'employees-card__tags')
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/6.jpg', srcset='images/employees/6@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Евгения Шурупова
							p Руководитель отдела маркетинга
						.employees-card__bottom
							.employees-card__text Помогает лучше узнать о продукте в любое время в любом месте
							+tags(['Отдел маркетинга'], 'employees-card__tags')
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/7.jpg', srcset='images/employees/7@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Денис Самойленко
							p Руководитель отдела капитального строительства
						.employees-card__bottom
							.employees-card__text Выполняет строительно-монтажные работы по возведению долговечных <br> фундаментов для корректной работы весов в соответствии со СНиП
							+tags(['Отдел капитального строительства'], 'employees-card__tags')
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/8.jpg', srcset='images/employees/8@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Юрий Хугаев
							p Руководитель производственного отдела
						.employees-card__bottom
							.employees-card__text Выполняет все этапы работ из металла – высокий уровень выполнения <br> металлических конструкций весов НАИС сделало их узнаваемыми на всей <br> территории РФ.
							+tags(['Производство'], 'employees-card__tags')
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/9.jpg', srcset='images/employees/9@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Сергей Вербицкий
							p Руководитель  единой сервисной службы
						.employees-card__bottom
							.employees-card__text Оперативно и точно в срок производит монтаж весов и оборудования для <br> автоматизации процесса взвешивания. Обеспечивает профессиональный <br> сервис и своевременный ремонт.
							+tags(['Единая сервисная служба'], 'employees-card__tags')
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/10.jpg', srcset='images/employees/10@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Юлиана Шапошникова
							p Руководитель метрологической службы
						.employees-card__bottom
							.employees-card__text Имеет государственную аккредитацию. Проводит поверку средств измерений строго в соответствие с Приказом Министерства промышленности и торговли РФ от 31.07.2020г. № 2510 "Об утверждении порядка проведения поверки средств измерений, требований к знаку поверки и содержанию свидетельства о поверке".
							+tags(['Метрологическая служба'], 'employees-card__tags')
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/11.jpg', srcset='images/employees/11@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Владислав Корниенко
							p Руководитель конструкторско-технического отдела
						.employees-card__bottom
							.employees-card__text Разрабатывает новые продукты и индивидуальные решения для нетиповых технических задач.
							+tags(['Конструкторско-технический отдел'], 'employees-card__tags')
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/12.jpg', srcset='images/employees/12@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Павел Паренюк
							p Отдел информационных технологий
						.employees-card__bottom
							.employees-card__text Pазрабатывает программное обеспечение для автоматизации процесса взвешивания и учета грузов.
							+tags(['Отдел информационных технологий'], 'employees-card__tags')

			.employees__offer
				p Если вы талантливый инженер-конструктор, умеющий
					|  думать программист или опытный электросварщик, <br>
					|  у нас всегда найдется для вас интересная работа.
				+button('Смотреть вакансии на hh.ru', 'button--square employees__offer-btn', '#', 'chevron-right', '13', '20')
