extends ../layouts/default

block vars
	-
		const page = {
			title: 'Сотрудники'
		};

block main
	article.employees
		.employees__pattern
			.pattern
				svg(width='105' height='1542' viewBox='0 0 105 1542' fill='none' xmlns='http://www.w3.org/2000/svg')
					g(opacity='1')
						mask#mask0_2218_5622(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='586' width='105' height='579')
							rect(y='586' width='105' height='579' fill='#C4C4C4')
						g(mask='url(#mask0_2218_5622)')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 203.578 1041.04)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 193.374 1020.98)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 183.17 1000.93)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 172.966 980.872)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 162.762 960.816)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='320.715' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 152.558 940.76)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='352.846' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 142.354 920.703)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='374.92' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 132.15 900.647)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='428.736' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 137.543 864.678)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='464.664' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 135.824 835.965)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.173' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 133.821 807.541)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='544.431' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.109 779.84)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='589.995' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.127 750.376)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.553' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.81 718.191)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='621.584' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.755 688.8)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='629.597' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 134.217 654.801)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='624.674' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.957 626.64)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.223' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.82 597.332)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.276' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 129.847 567.858)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='586.974' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 108.501 559.169)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='548.512' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 81.3258 556.429)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.925' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 51.7906 556.096)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='459.066' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 19.3031 558.775)' fill='#A0AB7B' opacity='0.12')
					g(opacity='1')
						mask#mask1_2218_5622(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='105' height='586')
							rect(width='105' height='586' fill='#C4C4C4')
						g(mask='url(#mask1_2218_5622)')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 203.578 462.041)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 193.374 441.984)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 183.17 421.928)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 172.966 401.872)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 162.762 381.816)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='320.715' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 152.558 361.76)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='352.846' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 142.354 341.703)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='374.92' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 132.15 321.647)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='428.736' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 137.543 285.678)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='464.664' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 135.824 256.965)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.173' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 133.821 228.541)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='544.431' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.109 200.84)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='589.995' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.127 171.376)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.553' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.81 139.191)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='621.584' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.755 109.8)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='629.597' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 134.217 75.8008)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='624.674' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.957 47.64)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.223' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.82 18.3325)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.276' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 129.847 -11.1421)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='586.974' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 108.501 -19.8306)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='548.512' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 81.3258 -22.5707)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.925' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 51.7906 -22.9037)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='459.066' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 19.3031 -20.2247)' fill='#A0AB7B' opacity='0.12')
					g(opacity='1')
						mask#mask2_2218_5622(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='1165' width='105' height='377')
							rect(y='1165' width='105' height='377' fill='#C4C4C4')
						g(mask='url(#mask2_2218_5622)')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 162.762 1539.82)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='320.715' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 152.558 1519.76)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='352.846' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 142.354 1499.7)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='374.92' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 132.15 1479.65)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='428.736' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 137.543 1443.68)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='464.664' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 135.824 1414.96)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.173' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 133.821 1386.54)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='544.431' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.109 1358.84)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='589.995' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.127 1329.38)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.553' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.81 1297.19)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='621.584' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.755 1267.8)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='629.597' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 134.217 1233.8)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='624.674' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.957 1205.64)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.223' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.82 1176.33)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.276' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 129.847 1146.86)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='586.974' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 108.501 1138.17)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='548.512' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 81.3258 1135.43)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.925' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 51.7906 1135.1)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='459.066' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 19.3031 1137.78)' fill='#A0AB7B' opacity='0.12')
				svg(width='105' height='1542' viewBox='0 0 105 1542' fill='none' xmlns='http://www.w3.org/2000/svg')
					g(opacity='1')
						mask#mask0_2218_5622(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='586' width='105' height='579')
							rect(y='586' width='105' height='579' fill='#C4C4C4')
						g(mask='url(#mask0_2218_5622)')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 203.578 1041.04)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 193.374 1020.98)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 183.17 1000.93)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 172.966 980.872)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 162.762 960.816)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='320.715' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 152.558 940.76)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='352.846' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 142.354 920.703)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='374.92' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 132.15 900.647)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='428.736' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 137.543 864.678)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='464.664' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 135.824 835.965)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.173' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 133.821 807.541)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='544.431' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.109 779.84)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='589.995' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.127 750.376)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.553' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.81 718.191)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='621.584' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.755 688.8)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='629.597' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 134.217 654.801)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='624.674' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.957 626.64)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.223' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.82 597.332)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.276' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 129.847 567.858)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='586.974' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 108.501 559.169)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='548.512' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 81.3258 556.429)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.925' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 51.7906 556.096)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='459.066' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 19.3031 558.775)' fill='#A0AB7B' opacity='0.12')
					g(opacity='1')
						mask#mask1_2218_5622(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='105' height='586')
							rect(width='105' height='586' fill='#C4C4C4')
						g(mask='url(#mask1_2218_5622)')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 203.578 462.041)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 193.374 441.984)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 183.17 421.928)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 172.966 401.872)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 162.762 381.816)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='320.715' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 152.558 361.76)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='352.846' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 142.354 341.703)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='374.92' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 132.15 321.647)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='428.736' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 137.543 285.678)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='464.664' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 135.824 256.965)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.173' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 133.821 228.541)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='544.431' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.109 200.84)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='589.995' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.127 171.376)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.553' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.81 139.191)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='621.584' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.755 109.8)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='629.597' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 134.217 75.8008)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='624.674' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.957 47.64)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.223' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.82 18.3325)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.276' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 129.847 -11.1421)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='586.974' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 108.501 -19.8306)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='548.512' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 81.3258 -22.5707)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.925' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 51.7906 -22.9037)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='459.066' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 19.3031 -20.2247)' fill='#A0AB7B' opacity='0.12')
					g(opacity='1')
						mask#mask2_2218_5622(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='1165' width='105' height='377')
							rect(y='1165' width='105' height='377' fill='#C4C4C4')
						g(mask='url(#mask2_2218_5622)')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 162.762 1539.82)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='320.715' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 152.558 1519.76)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='352.846' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 142.354 1499.7)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='374.92' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 132.15 1479.65)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='428.736' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 137.543 1443.68)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='464.664' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 135.824 1414.96)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.173' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 133.821 1386.54)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='544.431' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.109 1358.84)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='589.995' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.127 1329.38)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.553' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.81 1297.19)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='621.584' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.755 1267.8)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='629.597' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 134.217 1233.8)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='624.674' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.957 1205.64)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.223' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.82 1176.33)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.276' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 129.847 1146.86)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='586.974' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 108.501 1138.17)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='548.512' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 81.3258 1135.43)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.925' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 51.7906 1135.1)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='459.066' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 19.3031 1137.78)' fill='#A0AB7B' opacity='0.12')
				svg(width='105' height='1542' viewBox='0 0 105 1542' fill='none' xmlns='http://www.w3.org/2000/svg')
					g(opacity='1')
						mask#mask0_2218_5622(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='586' width='105' height='579')
							rect(y='586' width='105' height='579' fill='#C4C4C4')
						g(mask='url(#mask0_2218_5622)')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 203.578 1041.04)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 193.374 1020.98)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 183.17 1000.93)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 172.966 980.872)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 162.762 960.816)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='320.715' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 152.558 940.76)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='352.846' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 142.354 920.703)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='374.92' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 132.15 900.647)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='428.736' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 137.543 864.678)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='464.664' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 135.824 835.965)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.173' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 133.821 807.541)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='544.431' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.109 779.84)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='589.995' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.127 750.376)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.553' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.81 718.191)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='621.584' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.755 688.8)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='629.597' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 134.217 654.801)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='624.674' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.957 626.64)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.223' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.82 597.332)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.276' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 129.847 567.858)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='586.974' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 108.501 559.169)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='548.512' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 81.3258 556.429)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.925' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 51.7906 556.096)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='459.066' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 19.3031 558.775)' fill='#A0AB7B' opacity='0.12')
					g(opacity='1')
						mask#mask1_2218_5622(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='105' height='586')
							rect(width='105' height='586' fill='#C4C4C4')
						g(mask='url(#mask1_2218_5622)')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 203.578 462.041)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 193.374 441.984)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 183.17 421.928)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 172.966 401.872)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 162.762 381.816)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='320.715' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 152.558 361.76)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='352.846' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 142.354 341.703)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='374.92' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 132.15 321.647)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='428.736' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 137.543 285.678)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='464.664' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 135.824 256.965)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.173' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 133.821 228.541)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='544.431' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.109 200.84)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='589.995' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.127 171.376)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.553' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.81 139.191)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='621.584' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.755 109.8)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='629.597' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 134.217 75.8008)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='624.674' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.957 47.64)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.223' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.82 18.3325)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.276' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 129.847 -11.1421)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='586.974' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 108.501 -19.8306)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='548.512' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 81.3258 -22.5707)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.925' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 51.7906 -22.9037)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='459.066' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 19.3031 -20.2247)' fill='#A0AB7B' opacity='0.12')
					g(opacity='1')
						mask#mask2_2218_5622(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='1165' width='105' height='377')
							rect(y='1165' width='105' height='377' fill='#C4C4C4')
						g(mask='url(#mask2_2218_5622)')
							rect(width='9.85216' height='299.779' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 162.762 1539.82)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='320.715' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 152.558 1519.76)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='352.846' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 142.354 1499.7)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='374.92' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 132.15 1479.65)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='428.736' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 137.543 1443.68)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='464.664' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 135.824 1414.96)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.173' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 133.821 1386.54)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='544.431' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.109 1358.84)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='589.995' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.127 1329.38)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.553' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.81 1297.19)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='621.584' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.755 1267.8)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='629.597' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 134.217 1233.8)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='624.674' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 131.957 1205.64)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.223' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 130.82 1176.33)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='620.276' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 129.847 1146.86)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='586.974' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 108.501 1138.17)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='548.512' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 81.3258 1135.43)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='504.925' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 51.7906 1135.1)' fill='#A0AB7B' opacity='0.12')
							rect(width='9.85216' height='459.066' transform='matrix(-0.714169 -0.699974 -0.699974 0.714169 19.3031 1137.78)' fill='#A0AB7B' opacity='0.12')
			.container.container--border.employees__container.employees__container--top
				.employees__top
					.employees__video
						a.employees__video-preview(href='https://www.youtube.com/embed/tEPB7uzKuh4', data-fancybox)
							img(src='images/employees/video.jpg', srcset='images/employees/video@2x.jpg 2x', alt='')
							+button('', 'button--bordered employees__play', '', 'play', '23', '26')
						//iframe(src="https://www.youtube.com/embed/tEPB7uzKuh4" frameborder="0" allowfullscreen)
					.employees__about-us
						+title-block('Сотрудники', 'title-block--big employees__title')
						p Мы – команда, которая создаёт уникальные продукты для точного измерения веса больших грузов. <br>
							| Качественные и надежные весы, установленные точно в срок с компетентной и оперативной сервисной поддержкой – это к нам!

				.container.container--small.employees__container.employees__container--management-1
					+title-block('Руководство', '')
					.employees__management
						.employees-card.employees__item
							.employees-card__image
								img(src='images/employees/1.jpg', srcset='images/employees/1@2x.jpg 2x', alt='')
							.employees-card__content
								.employees-card__info
									p Морозов Вячеслав
									p Генеральный директор
						.employees-card.employees__item
							.employees-card__image
								img(src='images/employees/2.jpg', srcset='images/employees/2@2x.jpg 2x', alt='')
							.employees-card__content
								.employees-card__info
									p Немченко Анатолий
									p Директор по производству
						.employees-card.employees__item
							.employees-card__image
								img(src='images/employees/3.jpg', srcset='images/employees/3@2x.jpg 2x', alt='')
							.employees-card__content
								.employees-card__info
									p Баркина Анастасия
									p Директор по развитию
						.employees-card.employees__item
							.employees-card__image
								img(src='images/employees/4.jpg', srcset='images/employees/4@2x.jpg 2x', alt='')
							.employees-card__content
								.employees-card__info
									p Карейша Дмитрий
									p Технический директор


		.container.container--border.employees__container.employees__container--management-2
			.employees__management-2
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/5.jpg', srcset='images/employees/5@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Яковенко Анатолий
							p Руководитель отдела продаж
						.employees-card__bottom
							.employees-card__text Отдел продаж помогает подобрать <br> оборудование для решения Ваших задач
							+tags(['Отдел продаж'], 'employees-card__tags')
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/6.jpg', srcset='images/employees/6@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Евгения Шурупова
							p Руководитель отдела маркетинга
						.employees-card__bottom
							.employees-card__text Помогает лучше узнать о продукте в любое время в любом месте
							+tags(['Отдел маркетинга'], 'employees-card__tags')
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/7.jpg', srcset='images/employees/7@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Денис Самойленко
							p Руководитель отдела капитального строительства
						.employees-card__bottom
							.employees-card__text Выполняет строительно-монтажные работы по возведению долговечных <br> фундаментов для корректной работы весов в соответствии со СНиП
							+tags(['Отдел капитального строительства'], 'employees-card__tags')
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/8.jpg', srcset='images/employees/8@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Юрий Хугаев
							p Руководитель производственного отдела
						.employees-card__bottom
							.employees-card__text Выполняет все этапы работ из металла – высокий уровень выполнения <br> металлических конструкций весов НАИС сделало их узнаваемыми на всей <br> территории РФ.
							+tags(['Производство'], 'employees-card__tags')
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/9.jpg', srcset='images/employees/9@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Сергей Вербицкий
							p Руководитель  единой сервисной службы
						.employees-card__bottom
							.employees-card__text Оперативно и точно в срок производит монтаж весов и оборудования для <br> автоматизации процесса взвешивания. Обеспечивает профессиональный <br> сервис и своевременный ремонт.
							+tags(['Единая сервисная служба'], 'employees-card__tags')
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/10.jpg', srcset='images/employees/10@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Юлиана Шапошникова
							p Руководитель метрологической службы
						.employees-card__bottom
							.employees-card__text Имеет государственную аккредитацию. Проводит поверку средств измерений строго в соответствие с Приказом Министерства промышленности и торговли РФ от 31.07.2020г. № 2510 "Об утверждении порядка проведения поверки средств измерений, требований к знаку поверки и содержанию свидетельства о поверке".
							+tags(['Метрологическая служба'], 'employees-card__tags')
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/11.jpg', srcset='images/employees/11@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Владислав Корниенко
							p Руководитель конструкторско-технического отдела
						.employees-card__bottom
							.employees-card__text Разрабатывает новые продукты и индивидуальные решения для нетиповых технических задач.
							+tags(['Конструкторско-технический отдел'], 'employees-card__tags')
				.employees-card.employees-card--long.employees__item-2
					.employees-card__image
						img(src='images/employees/12.jpg', srcset='images/employees/12@2x.jpg 2x', alt='')
					.employees-card__content
						.employees-card__info
							p Павел Паренюк
							p Отдел информационных технологий
						.employees-card__bottom
							.employees-card__text Pазрабатывает программное обеспечение для автоматизации процесса взвешивания и учета грузов.
							+tags(['Отдел информационных технологий'], 'employees-card__tags')

			.employees__offer
				p Если вы талантливый инженер-конструктор, умеющий
					|  думать программист или опытный электросварщик, <br>
					|  у нас всегда найдется для вас интересная работа.
				+button('Смотреть вакансии на hh.ru', 'button--square employees__offer-btn', '#', 'chevron-right', '13', '20')
