extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	script.
		var isSimpleMapStyle = true;
	include ../blocks/first-screen.pug
	include ../blocks/products.pug
	include ../blocks/clients.pug
	include ../blocks/map.pug
