extends ../layouts/default

block vars
	-
		const page = {
			title: 'Программное обеспечение для автомобильных и жд весов'
		};

block main
	article.software
		.pattern
			.pattern__inner
				include ../../images/pattern.svg
				include ../../images/pattern.svg
				include ../../images/pattern.svg

		.container.container--border.software__container
			.partners-inner-container
				+title-block('Партнерам', ' title-block--big title-block--default-mt')

				.partners-banner.partners-banner--half
					.partners-banner__inner
						.partners-banner__left
							.partners-banner__title Очень конверсирующий заголовок pdf банера
							.partners-banner__button-wrap
								+button('Получить  предложение', 'button--square partners-banner__button ', '#', 'file', '16', '21')
					.partners-banner__image
						img(src="images/partners/1.jpg", alt="")

				.partners-banner
					.partners-banner__inner
						.partners-banner__left
							.partners-banner__title Очень конверсирующий заголовок pdf банера
							.partners-banner__button-wrap
								+button('Получить  предложение', 'button--square  partners-banner__button ', '#', 'file', '16', '21')
					.partners-banner__image
						img(src="images/partners/2.jpg", alt="")

				.section-download-files
					.title-l2.title-l2--download-files Строительная документация на весы для скачивания:

					.download-files
						a.download-files-item(href="")
							.download-files-item__icon
								img(src="images/file.svg", alt="")
							.download-files-item__title Файл название
							.download-files-item__description Государственная система обеспечения единства измерений (ГСИ).
						a.download-files-item(href="")
							.download-files-item__icon
								img(src="images/file.svg", alt="")
							.download-files-item__title Файл название
							.download-files-item__description Государственная система обеспечения единства измерений (ГСИ).

						a.download-files-item(href="")
							.download-files-item__icon
								img(src="images/file.svg", alt="")
							.download-files-item__title Файл название
							.download-files-item__description Государственная система обеспечения единства измерений (ГСИ).
						a.download-files-item(href="")
							.download-files-item__icon
								img(src="images/file.svg", alt="")
							.download-files-item__title Файл название
							.download-files-item__description Государственная система обеспечения единства измерений (ГСИ).

						a.download-files-item(href="")
							.download-files-item__icon
								img(src="images/file.svg", alt="")
							.download-files-item__title Файл название
							.download-files-item__description Государственная система обеспечения единства измерений (ГСИ).
						a.download-files-item(href="")
							.download-files-item__icon
								img(src="images/file.svg", alt="")
							.download-files-item__title Файл название
							.download-files-item__description Государственная система обеспечения единства измерений (ГСИ).

				//.container.container--small
				+slider-nav('Референс листы', 'article-single__certs-nav')
				.ref-list-slider.swiper.__js_slider-article-certs
					.swiper-wrapper
						a.ref-list-slide.swiper-slide(href="images/certs/1@2x.jpg" data-fancybox="refs-slider-gallery")
							.ref-list-slide__pic
								img(src='images/certs/1.jpg', srcset='images/certs/1@2x.jpg 2x', alt='')
							.ref-list-slide__name Юг, Северный Кавказ
						a.ref-list-slide.swiper-slide(href="images/certs/1@2x.jpg" data-fancybox="refs-slider-gallery")
							.ref-list-slide__pic
								img(src='images/certs/1.jpg', srcset='images/certs/1@2x.jpg 2x', alt='')
							.ref-list-slide__name Центр, Северо-Запад
						a.ref-list-slide.swiper-slide(href="images/certs/1@2x.jpg" data-fancybox="refs-slider-gallery")
							.ref-list-slide__pic
								img(src='images/certs/1.jpg', srcset='images/certs/1@2x.jpg 2x', alt='')
							.ref-list-slide__name Хранение, перевалка зерна
						a.ref-list-slide.swiper-slide(href="images/certs/1@2x.jpg" data-fancybox="refs-slider-gallery")
							.ref-list-slide__pic
								img(src='images/certs/1.jpg', srcset='images/certs/1@2x.jpg 2x', alt='')
							.ref-list-slide__name АПК
						a.ref-list-slide.swiper-slide(href="images/certs/1@2x.jpg" data-fancybox="refs-slider-gallery")
							.ref-list-slide__pic
								img(src='images/certs/1.jpg', srcset='images/certs/1@2x.jpg 2x', alt='')
							.ref-list-slide__name Хранение, перевалка зерна 1
						a.ref-list-slide.swiper-slide(href="images/certs/1@2x.jpg" data-fancybox="refs-slider-gallery")
							.ref-list-slide__pic
								img(src='images/certs/1.jpg', srcset='images/certs/1@2x.jpg 2x', alt='')
							.ref-list-slide__name АПК 2
						a.ref-list-slide.swiper-slide(href="images/certs/1@2x.jpg" data-fancybox="refs-slider-gallery")
							.ref-list-slide__pic
								img(src='images/certs/1.jpg', srcset='images/certs/1@2x.jpg 2x', alt='')
							.ref-list-slide__name Хранение, перевалка зерна 3
						a.ref-list-slide.swiper-slide(href="images/certs/1@2x.jpg" data-fancybox="refs-slider-gallery")
							.ref-list-slide__pic
								img(src='images/certs/1.jpg', srcset='images/certs/1@2x.jpg 2x', alt='')
							.ref-list-slide__name АПК 4
					//	.article-single__certs-slide.swiper-slide
							img(src='images/certs/1.jpg', srcset='images/certs/1@2x.jpg 2x', alt='')
						.article-single__certs-slide.swiper-slide
							img(src='images/certs/2.jpg', srcset='images/certs/2@2x.jpg 2x', alt='')
						.article-single__certs-slide.swiper-slide
							img(src='images/certs/3.jpg', srcset='images/certs/3@2x.jpg 2x', alt='')
						.article-single__certs-slide.swiper-slide
							img(src='images/certs/4.jpg', srcset='images/certs/4@2x.jpg 2x', alt='')
						.article-single__certs-slide.swiper-slide
							img(src='images/certs/1.jpg', srcset='images/certs/1@2x.jpg 2x', alt='')
						.article-single__certs-slide.swiper-slide
							img(src='images/certs/2.jpg', srcset='images/certs/2@2x.jpg 2x', alt='')