extends ../layouts/default

block vars
	-
		const page = {
			title: 'Услуги'
		};

block main
	article.article-single
		.pattern
			.pattern__inner
				include ../../images/pattern.svg
				include ../../images/pattern.svg
				include ../../images/pattern.svg

		.container.container--border.article-single__container
			+title-block('Поверка', 'article-single__title')
			.article-single__row
				.article-single__image
					img(src='images/articles/new__1.jpg', srcset='images/articles/new__1.jpg 2x', alt='')
				.article-single__about-us
					p Поверка весового оборудования – комплекс операций, выполняемых специалистами органов государственной метрологической службы или иных уполномоченных организаций и органов для определения и подтверждения соответствия измерительного прибора действующим ГОСТам и техническим требованиям.
			+quote('Метрологическая служба НАИС с 2005 года аккредитована на право поверки автомобильных и вагонных весов. Каждые 2 года метрологическая служба проходит аттестацию для подтверждения своей компетенции и продления права на проведение поверки. <br><br> ' +
			'Проверка весов на месте их эксплуатации проводится аттестованным поверителем по нормативным документам, которые были утверждены по результатам испытаний с целью утверждения типа. <br><br>' +
			'Аттестация специалиста проводится в соответствии с Приказом № 2510 от 30.07.2020 г. По результатам поверки уполномоченный сотрудник компании «НАИС» вносит результаты поверки в единый реестр ФГИС «АРШИН» <br><br>' +
			'Работы по поверке проводятся согласно ГОСТ OIML R 76-1-2011. <br><br>' +
			'структуры в значительной степени обуславливает создание существенных финансовых и административных условий. <br><br>' +
			'1) Работаем оперативно – мы всегда на связи и готовы приступить к поверке в самый кратчайший срок <br>' +
			'2) Сдаем эталонный груз в аренду <br>' +
			'3) Проводим поверку «под ключ»: <br>', 'article-single__quote')
			+tabs(
				[
					'Парк собственных эталонных гирь – 140 тонн',
					'Доставляем эталонные грузы собственным транспортом',
					'Проводим до 3-х поверок в день силами 3-х весоповерочных лабораторий',
					'Имеем 2 самоходных весоповерочных тележки класса MI по 2 тонны каждая для поверки вагонных весов'
				],
				'article-single__tabs'
			)
		
			.article-single__content
				.article-single__content-title Виды поверок весового оборудования:
				.article-single__content-text
					ul 
						li Первичная поверка весов производится при выпуске весов из производства, после капитального ремонта, при вводе по импорту
						li Периодическая поверка весов согласно закону РФ «Об обеспечении единства измерений» проводится 1 раз в год
						li Инспекционная поверка весов производится при возникновении спорных вопросов относительно точности измерений
						li Внеочередная поверка весов производится после проведения ремонтных работ или в случаях повреждения клейма.
					p Дополнительно к поверке весов НАИС выполняет:
					ul 
						li Ремонт весов и их подготовку их к поверке
						li Калибровку весов
						li Диагностику весов
			.container.container--small
				+slider-nav('Свидетельства:', 'article-single__certs-nav')
				.article-single__certs-slider.swiper.__js_slider-article-certs
					.swiper-wrapper
						.article-single__certs-slide.swiper-slide
							img(src='images/certs/newAticl__1.jpg', srcset='images/certs/newAticl__1.jpg 2x', alt='')
				.article-single__bottom-nav
					+button('Получить консультацию', 'button--square article-single__consult-btn js-open-modal', '#modal-request-call', 'chevron-right', '13', '20')
					a.article-single__back(href='#')
						+icon('chevron-left')(width='13', height='20')
						span Назад

	.modal#modal-request-call
		button.custom-fancybox-close.custom-fancybox-close--inner(data-fancybox-close='' title='{{CLOSE}}')
			svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(fill-rule='evenodd' clip-rule='evenodd' d='M19.0623 7.06066C19.6481 6.47487 19.6481 5.52513 19.0623 4.93934C18.4765 4.35355 17.5268 4.35355 16.941 4.93934L12.0016 9.87868L7.31066 5.18771C6.72488 4.60192 5.77513 4.60192 5.18934 5.18771C4.60355 5.77349 4.60355 6.72324 5.18934 7.30903L9.88031 12L5.18934 16.691C4.60355 17.2768 4.60355 18.2265 5.18934 18.8123C5.77513 19.3981 6.72487 19.3981 7.31066 18.8123L12.0016 14.1213L16.941 19.0607C17.5268 19.6464 18.4765 19.6464 19.0623 19.0607C19.6481 18.4749 19.6481 17.5251 19.0623 16.9393L14.123 12L19.0623 7.06066Z' fill='#467C3F')

		.modal-inner
			.modal-title Заказать обратный звонок

			form.modal-form(action="")
				.modal-form-row
					.modal-form-row__col
						.call-you__input.cutom-inp
							input.cutom-inp__field(type="text", name="" placeholder="Имя")
				.modal-form-row
					.modal-form-row__col
						.call-you__input.cutom-inp
							input.cutom-inp__field(type="text", name="" placeholder="Телефон")
				.modal-form-row
					.modal-form-row__col
						.call-you__input.cutom-inp
							input.cutom-inp__field(type="text", name="" placeholder="E-Mail")
				.modal-form-row
					.modal-form-row__col
						.call-you__input.cutom-inp
							input.cutom-inp__field(type="text", name="" placeholder="Организация")
				.modal-form-row
					.modal-form-row__col
						.call-you__input.cutom-inp
							button.button.button--square.button--modal Отправить