extends ../layouts/default

block vars
	-
		const page = {
			title: 'Услуги'
		};

block main
	article.article-single
		.pattern
			.pattern__inner
				include ../../images/pattern.svg
				include ../../images/pattern.svg
				include ../../images/pattern.svg

		.container.container--border.article-single__container
			+title-block('Поверка', 'article-single__title')
			.article-single__row
				.article-single__image
					img(src='images/articles/new__1.jpg', srcset='images/article/poster@2x.jpg 2x', alt='')
				.article-single__about-us
					p Поверка весового оборудования – комплекс операций, выполняемых специалистами органов государственной метрологической службы или иных уполномоченных организаций и органов для определения и подтверждения соответствия измерительного прибора действующим ГОСТам и техническим требованиям.
			+quote('Метрологическая служба НАИС с 2005 года аккредитована на право поверки автомобильных и вагонных весов. Каждые 2 года метрологическая служба проходит аттестацию для подтверждения своей компетенции и продления права на проведение поверки. <br><br> ' +
			'Проверка весов на месте их эксплуатации проводится аттестованным поверителем по нормативным документам, которые были утверждены по результатам испытаний с целью утверждения типа. <br><br>' +
			'Аттестация специалиста проводится в соответствии с Приказом № 2510 от 30.07.2020 г. По результатам поверки уполномоченный сотрудник компании «НАИС» вносит результаты поверки в единый реестр ФГИС «АРШИН» <br><br>' +
			'Работы по поверке проводятся согласно ГОСТ OIML R 76-1-2011. <br><br>' +
			'структуры в значительной степени обуславливает создание существенных финансовых и административных условий. <br><br>' +
			'1) Работаем оперативно – мы всегда на связи и готовы приступить к поверке в самый кратчайший срок <br>' +
			'2) Сдаем эталонный груз в аренду <br>' +
			'3) Проводим поверку «под ключ»: <br>', 'article-single__quote')
			+tabs(
				[
					'Парк собственных эталонных гирь – 140 тонн',
					'Доставляем эталонные грузы собственным транспортом',
					'Проводим до 3-х поверок в день силами 3-х весоповерочных лабораторий',
					'Имеем 2 самоходных весоповерочных тележки класса MI по 2 тонны каждая для поверки вагонных весов'
				],
				'article-single__tabs'
			)
		
			.article-single__content
				.article-single__content-title Виды поверок весового оборудования:
				.article-single__content-text
					ul 
						li Первичная поверка весов производится при выпуске весов из производства, после капитального ремонта, при вводе по импорту
						li Периодическая поверка весов согласно закону РФ «Об обеспечении единства измерений» проводится 1 раз в год
						li Инспекционная поверка весов производится при возникновении спорных вопросов относительно точности измерений
						li Внеочередная поверка весов производится после проведения ремонтных работ или в случаях повреждения клейма.
					p Дополнительно к поверке весов НАИС выполняет:
					ul 
						li Ремонт весов и их подготовку их к поверке
						li Калибровку весов
						li Диагностику весов
			.container.container--small
				+slider-nav('Свидетельства:', 'article-single__certs-nav')
				.article-single__certs-slider.swiper.__js_slider-article-certs
					.swiper-wrapper
						.article-single__certs-slide.swiper-slide
							img(src='images/certs/newAticl__1.jpg', srcset='images/certs/newAticl__1.jpg 2x', alt='')
				.article-single__bottom-nav
					+button('Получить консультацию', 'button--square article-single__consult-btn', '#', 'chevron-right', '13', '20')
					a.article-single__back(href='#')
						+icon('chevron-left')(width='13', height='20')
						span Все статьи
