extends ../layouts/default

block vars
	-
		const page = {
			title: 'Проекты'
		};

block main
	article.projects-page
		.pattern
			.pattern__inner
				include ../../images/pattern.svg
				include ../../images/pattern.svg
				include ../../images/pattern.svg

		.container.container--border.projects-page__container
			.container.container--small
				+title-block('Проекты', 'title-block--big projects-page__title')
				+filter([
					{
						text: 'Все проекты',
						class: 'filter__button--active',
						data: '*'
					},
					{
						text: 'Решения для АПК',
						data: '.js-filter-apk'
					}
				], 'filter--wide projects-page__filter')
				.projects-page__projects
					a.projects-card.projects-page__item(href='project-single__one.html', target='_blank')
						figure
							.projects-card__title Весы для Эльдако Юг
							.projects-card__info
								p ООО РСК "Константа
								p Заказчик
							.projects-card__info
								p с.Белая глина, <br> Краснодарский край
								p Адрес объекта
							+tags(['Автовесы', 'Модуль звук', 'Светофор', 'Считыватели'], 'projects-card__tags')
					a.projects-card.projects-page__item.js-filter-apk(href='project-single__two.html', target='_blank')
						figure
							.projects-card__title Строительство и установка вагонных весов НАИС
							.projects-card__info
								p ООО РСК "Константа
								p Заказчик
							.projects-card__info
								p с.Белая глина, <br> Краснодарский край
								p Адрес объекта
							+tags(['Автовесы', 'Вагонные весы'], 'projects-card__tags')
