extends ../layouts/default

block vars
	-
		const page = {
			title: 'Программное обеспечение для автомобильных и жд весов'
		};

block main
	article.software
		.pattern
			.pattern__inner
				include ../../images/pattern.svg
				include ../../images/pattern.svg
				include ../../images/pattern.svg

		.container.container--border.software__container
			.software-inner-container
				+title-block('Автоматизация <br> взвешивания и учета', ' software__title')

				.img-map.img-map--software
					.img-map__inner.js-img-map__inner
						img.img-map__pic(src="../images/software/software_top.png", alt="")
						.img-map__points
							.img-map-point(style="left: 12.3%; top: 46.2%;")
								.img-map-point__point
								.img-map-point__text-wrap
									.img-map-point__text Cчитыватель rfid 1
							.img-map-point(style="left: 14.9%;top: 57.2%;")
								.img-map-point__point
								.img-map-point__text-wrap
									.img-map-point__text Cчитыватель rfid 2
							.img-map-point(style="left: 20.4%; top: 69%;")
								.img-map-point__point
								.img-map-point__text-wrap
									.img-map-point__text Cчитыватель rfid 3
							.img-map-point(style="left: 25.4%;    top: 65.1%;")
								.img-map-point__point
								.img-map-point__text-wrap
									.img-map-point__text Cчитыватель rfid 4
							.img-map-point(style="left: 25%;    top: 73%;")
								.img-map-point__point
								.img-map-point__text-wrap
									.img-map-point__text Cчитыватель rfid 5
							.img-map-point(style="    left: 52.5%;    top: 60%;")
								.img-map-point__point
								.img-map-point__text-wrap
									.img-map-point__text Cчитыватель rfid 6
							.img-map-point(style="left: 64.6%;    top: 32.6%;")
								.img-map-point__point
								.img-map-point__text-wrap
									.img-map-point__text Cчитыватель rfid 7
							.img-map-point(style="left: 74%;    top: 39%;")
								.img-map-point__point
								.img-map-point__text-wrap
									.img-map-point__text Cчитыватель rfid 8 12 23 34 45 56 67 78 89 Cчитыватель rfid 8 Cчитыватель rfid 8 Cчитыватель rfid 8
							.img-map-point(style="    left: 90.2%;    top: 26.6%;")
								.img-map-point__point
								.img-map-point__text-wrap
									.img-map-point__text Cчитыватель rfid 9
							.img-map-point(style="left: 89.6%;    top: 31.3%;")
								.img-map-point__point
								.img-map-point__text-wrap
									.img-map-point__text Cчитыватель rfid 10
							.img-map-point(style="    left: 89.7%;    top: 39.6%;")
								.img-map-point__point
								.img-map-point__text-wrap
									.img-map-point__text Cчитыватель rfid 11
							.img-map-point(style="    left: 92.2%;    top: 43%;")
								.img-map-point__point
								.img-map-point__text-wrap
									.img-map-point__text Cчитыватель rfid 12
							.img-map-point(style="left: 88.7%;    top: 47.2%;")
								.img-map-point__point
								.img-map-point__text-wrap
									.img-map-point__text Cчитыватель rfid 13 12 23 34 45 56 67 78 89  12 23 34 45 56 67 78 89  Cчитыватель rfid 13 Cчитыватель rfid 13 Cчитыватель rfid 13 Cчитыватель rfid 13
							.img-map-point(style="    left: 97.4%;    top: 54.7%;")
								.img-map-point__point
								.img-map-point__text-wrap
									.img-map-point__text Cчитыватель rfid 14

				+filter([
					{
						text: 'Автоматизации взвешивания',
						class: 'filter__button--active'
					},
					{
						text: 'Автоматизация учёта'
					},
					{
						text: 'Нагрузка на ось'
					}
				], 'software__tabs')


			.software-inner-container.software-inner-container--wide
				.software-cards
					each val in [1,2,3,4]
						.software-card
							.software-card__pic
								.software-card__pic-inner
									img(src="../images/software/soft_pic_1.png", alt="")
								.software-card__tags
									.software-card__tag Базовый модуль
							.software-card__name Весовая 5.0
							.software-card__desc Универсальное решение для автоматизации действий оператора электронных весов для большегрузов
						.software-card
							.software-card__pic
								.software-card__pic-inner
									img(src="../images/software/soft_pic_2.png", alt="")
							.software-card__name Весовая 5.0
							.software-card__desc Универсальное решение для автоматизации действий оператора электронных весов для большегрузов