extends ../layouts/default

block vars
	-
		const page = {
			title: 'Вагонные весы ВВТ'
		};

block main
	article.weights-page
		.weights-page__first
			.pattern
				.pattern__inner
					include ../../images/pattern.svg
					include ../../images/pattern.svg
					include ../../images/pattern.svg
			//.pattern
				.pattern__inner
					include ../../images/pattern.svg
					include ../../images/pattern.svg
					include ../../images/pattern.svg
			.container.container--border.weights-page__container.weights-page__container--1
				+title-block('Вагонные весы ВВТ', 'weights-page__title')
				ul.weights-page__list
					li Нагрузка от 60 т до 200 т
					li ГОСТ OIML R 76-1-2011
					li Гарантия до 3 лет
				+button('Получить консультацию', 'button--bordered weights-page__consult-btn js-open-modal', '#modal-request-call')
				.products-item.weights-page__product
					.products-item__bg-text.products-item__bg-text--2
						span Вагонные весы ВВТ
					.products-item__image
						img(src='images/products/1.png', srcset='images/products/1@2x.png 2x', alt='')

		.weights-page__about
			//.container.weights-page__container.weights-page__container--2
				.container.container--small
					.weights-page__subtitle Весы автомобильные тензометрические ВАТ
					//+filter([
						{
							text: 'Описание',
							class: 'filter__button--active'
						},
						{
							text: 'Способы установки'
						},
						{
							text: 'Характеристики'
						},
						{
							text: 'Модели'
						},
						{
							text: 'Сертификаты'
						}
					], 'weights-page__tabs')

			include ../blocks/vesy-vagonnye-tabs.pug
					//.weights-page__about-wrapper
						.weights-page__about-content(style='display: block')
							.weights-page__text Весы автомобильные тензометрические ВАТ предназначены для статического <br> взвешивания
								|  автомобильного транспорта. Устанавливаются на фундамент.
							.weights-page__about-items
								.weights-page__about-item
									+icon('tab')(width='28', height='28')
									p Датчики HBM, Германия
								.weights-page__about-item
									+icon('file')(width='21', height='27')
									p Запатентованная конструкция платформы
								.weights-page__about-item
									+icon('screen')(width='28', height='28')
									p Штатный терминал
								.weights-page__about-item
									+icon('refresh')(width='28', height='17')
									p Автоматизация взвешивания
								.weights-page__about-item
									+icon('shield')(width='22', height='28')
									p Система защиты от <br> внешнего воздействия
								.weights-page__about-item
									+icon('burn')(width='24', height='30')
									p Взрывозащищенное исполнение
								.weights-page__about-item
									+icon('wheel')(width='27', height='27')
									p Сертифицированное <br> измерение нагрузки на <br> ось
								.weights-page__about-item
									+icon('clock')(width='27', height='28')
									p Оперативная установка

						.weights-page__about-content
							.weights-page__text Весы автомобильные тензометрические ВАТ предназначены для статического <br> взвешивания
								|  автомобильного транспорта. Устанавливаются на фундамент.
							.weights-page__about-items
								.weights-page__about-item
									+icon('tab')(width='28', height='28')
									p Датчики HBM, Германия
								.weights-page__about-item
									+icon('file')(width='21', height='27')
									p Запатентованная конструкция платформы
								.weights-page__about-item
									+icon('screen')(width='28', height='28')
									p Штатный терминал
								.weights-page__about-item
									+icon('refresh')(width='28', height='17')
									p Автоматизация взвешивания
								.weights-page__about-item
									+icon('shield')(width='22', height='28')
									p Система защиты от <br> внешнего воздействия
								.weights-page__about-item
									+icon('burn')(width='24', height='30')
									p Взрывозащищенное исполнение
								.weights-page__about-item
									+icon('wheel')(width='27', height='27')
									p Сертифицированное <br> измерение нагрузки на <br> ось
								.weights-page__about-item
									+icon('clock')(width='27', height='28')
									p Оперативная установка

						.weights-page__about-content
							.weights-page__text Весы автомобильные тензометрические ВАТ предназначены для статического <br> взвешивания
								|  автомобильного транспорта. Устанавливаются на фундамент.
							.weights-page__about-items
								.weights-page__about-item
									+icon('tab')(width='28', height='28')
									p Датчики HBM, Германия
								.weights-page__about-item
									+icon('file')(width='21', height='27')
									p Запатентованная конструкция платформы
								.weights-page__about-item
									+icon('screen')(width='28', height='28')
									p Штатный терминал
								.weights-page__about-item
									+icon('refresh')(width='28', height='17')
									p Автоматизация взвешивания
								.weights-page__about-item
									+icon('shield')(width='22', height='28')
									p Система защиты от <br> внешнего воздействия
								.weights-page__about-item
									+icon('burn')(width='24', height='30')
									p Взрывозащищенное исполнение
								.weights-page__about-item
									+icon('wheel')(width='27', height='27')
									p Сертифицированное <br> измерение нагрузки на <br> ось
								.weights-page__about-item
									+icon('clock')(width='27', height='28')
									p Оперативная установка

						.weights-page__about-content
							.weights-page__text Весы автомобильные тензометрические ВАТ предназначены для статического <br> взвешивания
								|  автомобильного транспорта. Устанавливаются на фундамент.
							.weights-page__about-items
								.weights-page__about-item
									+icon('tab')(width='28', height='28')
									p Датчики HBM, Германия
								.weights-page__about-item
									+icon('file')(width='21', height='27')
									p Запатентованная конструкция платформы
								.weights-page__about-item
									+icon('screen')(width='28', height='28')
									p Штатный терминал
								.weights-page__about-item
									+icon('refresh')(width='28', height='17')
									p Автоматизация взвешивания
								.weights-page__about-item
									+icon('shield')(width='22', height='28')
									p Система защиты от <br> внешнего воздействия
								.weights-page__about-item
									+icon('burn')(width='24', height='30')
									p Взрывозащищенное исполнение
								.weights-page__about-item
									+icon('wheel')(width='27', height='27')
									p Сертифицированное <br> измерение нагрузки на <br> ось
								.weights-page__about-item
									+icon('clock')(width='27', height='28')
									p Оперативная установка

						.weights-page__about-content
							.weights-page__text Весы автомобильные тензометрические ВАТ предназначены для статического <br> взвешивания
								|  автомобильного транспорта. Устанавливаются на фундамент.
							.weights-page__about-items
								.weights-page__about-item
									+icon('tab')(width='28', height='28')
									p Датчики HBM, Германия
								.weights-page__about-item
									+icon('file')(width='21', height='27')
									p Запатентованная конструкция платформы
								.weights-page__about-item
									+icon('screen')(width='28', height='28')
									p Штатный терминал
								.weights-page__about-item
									+icon('refresh')(width='28', height='17')
									p Автоматизация взвешивания
								.weights-page__about-item
									+icon('shield')(width='22', height='28')
									p Система защиты от <br> внешнего воздействия
								.weights-page__about-item
									+icon('burn')(width='24', height='30')
									p Взрывозащищенное исполнение
								.weights-page__about-item
									+icon('wheel')(width='27', height='27')
									p Сертифицированное <br> измерение нагрузки на <br> ось
								.weights-page__about-item
									+icon('clock')(width='27', height='28')
									p Оперативная установка

		.container.container--border.weights-page__container.weights-page__container--3
			.weights-page__subtitle Весы автомобильные тензометрические
			+filter([
				{
					text: 'АПК',
					class: 'filter__button--active'
				},
				{
					text: 'Нефтегазовая'
				},
				{
					text: 'Горнодобывающая'
				}
			], 'weights-page__tabs-dynamic')
		.container


			.products-item.weights-page__product.weights-page__product--truck
				.products-item__truck-inner
					.products-item__truck
						img.js-img-move.active.visible(src='images/truckVag-2.png', srcset='images/truckVag-2.png 2x', alt='', style="width: 65.5%;")
						img.js-img-move(src='images/truckVag-1.png', srcset='images/truckVag-1.png 2x', alt='', style="width: 65.5%;")
						img.js-img-move(src='images/truckVag-3.png', srcset='images/truckVag-3.png 2x', alt='', style=" width: 65.5%; margin-bottom: -5px;")
					.products-item__image
						img(src='images/products/1.png', srcset='images/products/1@2x.png 2x', alt='' )
			.weights-page__caption Взвешивание более 200 видов вагонов
			+title-block('Полный цикл производства', 'weights-page__title')
			.weights-page__text.weights-page__text--maxw
				p Мы обеспечиваем полный цикл производства – от проекта до его реализации на вашем объекте. Все конструктивные детали весовых комплексов и программное обеспечение для автоматизации взвешивания мы производим самостоятельно.
				p Это значит, что мы полностью управляем качеством продукта, сроками выполнения и несем ответственность за результат.
			.weights-page__steps
				.weights-page__steps-item
					p 01
					p Проектирование
				.weights-page__steps-item
					p 02
					p Производство весов
				.weights-page__steps-item
					p 03
					p Строительство фундамента
				.weights-page__steps-item
					p 04
					p Монтаж и <br> пусконаладочные работы
				.weights-page__steps-item
					p 05
					p Гарантийное обслуживание <br> и поддержка
				.weights-page__steps-item
					p 06
					p Автоматизация взвешивания

		+button('98% наших весов работают бесперебойно свыше 10 лет', 'button--square weights-page__other-btn', '#', 'elephant', '25', '17')
		//a.button.button--square.weights-page__other-btn.hover-fw-btn__wrap.button--disable-hover(href='#')
			span 98% наших весов работают бесперебойно свыше 10 лет
			svg(width='25' height='17')
				use(xlink:href='./images/sprite.svg#elephant')
			.hover-fw-btn
				span Задать вопрос


		.weights-page__slider-wrapper
			.pattern
				.pattern__inner
					include ../../images/pattern.svg
					include ../../images/pattern.svg
					include ../../images/pattern.svg
			.container.weights-page__container.weights-page__container--4
				//.pattern
					.pattern__inner
						include ../../images/pattern.svg
						include ../../images/pattern.svg
						include ../../images/pattern.svg
				.container.container--small
					+slider-nav('Отзывы', 'weights-page__nav')
				.weights-page__slider.swiper.__js_slider-reviews-2
					.swiper-wrapper
						.weights-page__slide.swiper-slide.js-start-iframe(data-iframe-link="https://www.youtube.com/embed/kRD4UvIYVa8")
							img(src='images/weights-page/new__1.jpg', srcset='images/weights-page/new__1.jpg 2x', alt='')
							button.button.button--bordered.employees__play  <svg width="23" height="26"><use xlink:href="./images/sprite.svg#play"></use> </svg>
						.weights-page__slide.swiper-slide.js-start-iframe(data-iframe-link="https://www.youtube.com/embed/kRD4UvIYVa8")
							img(src='images/weights-page/new__2.jpg', srcset='images/weights-page/new__2.jpg 2x', alt='')
							button.button.button--bordered.employees__play  <svg width="23" height="26"><use xlink:href="./images/sprite.svg#play"></use> </svg>
						.weights-page__slide.swiper-slide.js-start-iframe(data-iframe-link="https://www.youtube.com/embed/kRD4UvIYVa8")
							img(src='images/weights-page/new__3.jpg', srcset='images/weights-page/new__3.jpg 2x', alt='')
							button.button.button--bordered.employees__play  <svg width="23" height="26"><use xlink:href="./images/sprite.svg#play"></use> </svg>

				.container.container--small
					+slider-nav('Проекты', 'weights-page__projects-nav')
				.weights-page__projects-slider.swiper.__js_slider-projects
					.swiper-wrapper
						a(href="project-single__one.html").weights-page__projects-slide.swiper-slide
							.weights-page__projects-slide-img
								img(src='images/weights-page/new--pro__1.jpg', srcset='images/weights-page/new--pro__1.jpg 2x', alt='')
							p Весы для Эльдако Юг				
						a(href="project-single__two.html").weights-page__projects-slide.swiper-slide
							.weights-page__projects-slide-img
								img(src='images/weights-page/new--pro__2.jpg', srcset='images/weights-page/new--pro__2.jpg 2x', alt='')
							p Зерноуборочные хозяйства - наши постоянные партнеры	
						a(href="project-single__two.html").weights-page__projects-slide.swiper-slide
							.weights-page__projects-slide-img
								img(src='images/weights-page/new--pro__3.jpg', srcset='images/weights-page/new--pro__3.jpg 2x', alt='')
							p Строительство и установка вагонных весов НАИС1

	.modal#modal-request-call
		button.custom-fancybox-close.custom-fancybox-close--inner(data-fancybox-close='' title='{{CLOSE}}')
			svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(fill-rule='evenodd' clip-rule='evenodd' d='M19.0623 7.06066C19.6481 6.47487 19.6481 5.52513 19.0623 4.93934C18.4765 4.35355 17.5268 4.35355 16.941 4.93934L12.0016 9.87868L7.31066 5.18771C6.72488 4.60192 5.77513 4.60192 5.18934 5.18771C4.60355 5.77349 4.60355 6.72324 5.18934 7.30903L9.88031 12L5.18934 16.691C4.60355 17.2768 4.60355 18.2265 5.18934 18.8123C5.77513 19.3981 6.72487 19.3981 7.31066 18.8123L12.0016 14.1213L16.941 19.0607C17.5268 19.6464 18.4765 19.6464 19.0623 19.0607C19.6481 18.4749 19.6481 17.5251 19.0623 16.9393L14.123 12L19.0623 7.06066Z' fill='#467C3F')

		.modal-inner
			.modal-title Заказать обратный звонок

			form.modal-form(action="")
				.modal-form-row
					.modal-form-row__col
						.call-you__input.cutom-inp
							input.cutom-inp__field(type="text", name="" placeholder="Имя")
				.modal-form-row
					.modal-form-row__col
						.call-you__input.cutom-inp
							input.cutom-inp__field(type="text", name="" placeholder="Телефон")
				.modal-form-row
					.modal-form-row__col
						.call-you__input.cutom-inp
							input.cutom-inp__field(type="text", name="" placeholder="E-Mail")
				.modal-form-row
					.modal-form-row__col
						.call-you__input.cutom-inp
							input.cutom-inp__field(type="text", name="" placeholder="Организация")
				.modal-form-row
					.modal-form-row__col
						.call-you__input.cutom-inp
							button.button.button--square.button--modal Отправить