-
	const MENU = [
		{
			url: '#',
			text: 'Компания',
			sub: true
		},
		{
			url: '#',
			text: 'Каталог',
			sub: true
		},
		{
			url: '#',
			text: 'Услуги',
			sub: true
		},
		{
			url: '#',
			text: 'Проекты'
		},
		{
			url: '#',
			text: 'Статьи'
		},
		{
			url: '#',
			text: 'Контакты'
		}
	];
