-
	const MENU = [
		{
			url: '#',
			text: 'Компания',
			sub: [
				{
					url: '#',
					text: 'О компании'
				},
				{
					url: '#',
					text: 'Сотрудники'
				}
			]
		},
		{
			url: '#',
			text: 'Каталог',
			sub: [
				{
					url: '#',
					text: 'Автомобильные весы'
				},
				{
					url: '#',
					text: 'Вагонные весы'
				},
				{
					url: '#',
					text: 'Станки для КРС'
				},
				{
					url: '#',
					text: 'Подкладные поосные весы'
				},
				{
					url: '#',
					text: 'Платформенные весы'
				},
				{
					url: '#',
					text: 'ПО'
				}
			]
		},
		{
			url: '#',
			text: 'Услуги',
			sub: [
				{
					url: '#',
					text: 'Поверка'
				},
				{
					url: '#',
					text: 'Аренда эталонного груза'
				},
				{
					url: '#',
					text: 'Гарантийное обслуживание'
				},
				{
					url: '#',
					text: 'Ремонт'
				},
				{
					url: '#',
					text: 'Модернизация весов'
				}
			]
		},
		{
			url: '#',
			text: 'Проекты'
		},
		{
			url: '#',
			text: 'Статьи'
		},
		{
			url: '#',
			text: 'Контакты'
		}
	];
