@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu'),
	url('../fonts/Ubuntu-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu'),
	url('../fonts/Ubuntu-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu'),
	url('../fonts/Ubuntu-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu'),
	url('../fonts/Ubuntu-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu'),
	url('../fonts/Ubuntu-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu'),
	url('../fonts/Ubuntu-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu'),
	url('../fonts/Ubuntu-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu'),
	url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: local('Mulish'),
	url('../fonts/Mulish-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: local('Mulish'),
	url('../fonts/Mulish-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: local('Mulish'),
	url('../fonts/Mulish-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: local('Mulish'),
	url('../fonts/Mulish-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: local('Mulish'),
	url('../fonts/Mulish-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: local('Mulish'),
	url('../fonts/Mulish-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: local('Mulish'),
	url('../fonts/Mulish-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: local('Mulish'),
	url('../fonts/Mulish-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto'),
	url('../fonts/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto'),
	url('../fonts/Mulish-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}
