/* media */
$media-list: (
	'xs': 427,
	'sm': 767,
	'md': 1079,
	'lg': 1279,
	'xl': 1599,
	'xxl': 1900,
);

/* шрифты */
$mainFont: 'Ubuntu', sans-serif;
$mulishFont: 'Mulish', sans-serif;
$robotoFont: 'Roboto', sans-serif;

/* цвета */
$textMainColor: #f0f0ed;
$white: #ffffff;
$black: #000000;
$black-15: #151814;
$gray-c9: #c9c9c9;
$green-lemon: #a0ab7b;
$thatch-green: #2f4919;
$green: #467c3f;
$dunkl: #252924;
$green-hover: #60a058;
$orange: #f2802c;
